[2022-09-22 07:35] mcollina opened #1 "Welcome to Platformatic!"

[2022-09-22 07:51] renovate opened #3 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/platformatic/platformatic).

## Rate-Limited

The following updates are currently rate-limited. To force their creation now, click on a checkbox bel

[2022-09-22 13:05] mcollina opened #8 "Create nested routes based on relations"
Consider these two tables:

[code]

Currently we are creating routes for `/movies/:id` and `/quotes/:id`, however it would be really nice if we could create `/movies/:movideId/quotes` and `/movies/:movieId/quotes/:id` set of routes.

[2022-09-22 14:03] leorossi opened #10 "Relations fields are always returned in REST API"
Having this schema (dumped from PostgreSQL)
[code]

If you call this endpoint `GET /pages/?fields=title&fields=id` the `categoryId` field is always returned because is a foreign key.

That should not be send out

[2022-09-22 16:19] mcollina opened #14 "Create documentation regarding relations in GraphQL"
In https://github.com/platformatic/platformatic/tree/main/docs/reference/sql-graphql, we do not document how relations are composed and exposed to the end users.

[2022-09-22 16:41] MzUgM opened #15 "Transactions with entities"
The `db` exposed by `platformatic` allows for transactions but transactions do not work with entities as the available methods use the pre-computed database and associated queries.

Current state of transactions:
[code]

It would be cool to do this with entities though, something like:
[code]

[2022-09-23 06:35] meetwithyash commented on #14
@mcollina , I would like to contribute. Can you please share more details about this? I can pickup this task.

[2022-09-23 13:51] leorossi opened #20 "Ensure we automatically load platformatic.db.toml and platformatic.db.yaml as defaults"

[2022-09-23 14:42] marcopiraccini opened #21 "Platformatic DB fails to start if migrations are missing"
To reproduce it:
[code]
Actual result:
[code]

[2022-09-23 15:29] ivan-tymoshenko opened #22 "Hot reload fails on frequent update"
If you try to reload the server a few times in a second, you will get a v8 error. I think we should add a timeout for hot reload.

<img width="1348" alt="Снимок экрана 2022-09-23 в 18 22 55" src="https://user-images.githubusercontent.com/31734731/191997402-da14e335-463a-4d1b-bffd-ca681762fb8d.png">

[2022-09-23 15:40] mcollina commented on #22
There is the `stopTimeout` option at https://github.com/mcollina/fastify-isolate/blob/e33776316b54709524390cb75e0cc467500704f0/index.js#L61.

I think we might want to debounce hot reloads if we try to hot-reload the server multiple times per second. Currently, we stagger them at a maximum of 10 per second, but possibly this is too much still: https://github.com/platformatic/platformatic/blob/87ad6

[2022-09-23 16:56] simonplend opened #24 "Choose and integrate documentation tooling"
We should integrate tooling to help maintain consistency across all documentation. The areas we'd like to ensure consistency in are:

- Markdown formatting, including things like line length
- Stylistic rules, including title formatting, as well as the use of specific grammar and phrasing

I've created this issue so that we can capture discussion on the tools that can help us in these areas. Once

[2022-09-23 17:33] MzUgM opened #25 "[Docs] How to write automated tests"
Should include how to write tests for a service whether or not it has a plugin. Without a custom plugin, the tests act like a contract. With a plugin, the user can validate their custom functionality.

[2022-09-24 07:03] mcollina commented on #14
Go for it! The task is:

1. understand how SQL relations are mapped to nested objects in GraphQL
2. write it down

[2022-09-24 10:15] #10 closed

[2022-09-25 09:40] Narayan1670 commented on #8
Hi @mcollina. Can't We Use (inner) Join to return the matching id of both the tables ? Can I be Assigned this issue?

[2022-09-25 17:58] stetorm opened #27 "MySql db setup fails"
Running npx platformic db start, using simple mysql database (8.0.16) db setup fails fails with error message:
Error: unknown database
    at setupDB (~/quick-start/node_modules/@platformatic/db/lib/utils.js:20:11)
It seems a trivial error in file /db/lib/utils, where the if conditions should be
`else if (db.isMySQL)`
and not
`else if (db.isMySql)`

[2022-09-25 18:08] stetorm opened #28 "GraphQL setup fails when using table whose primary key are named using snake case convention"
It seems the GraphQL api initialization fails when there are tables whose primary key are not named using camel case convention.
in my case it was a field named `id_currency`.
It seems that in following snippet in (packages/sql-graphql/lib/entity-to-type.js),
 the code is expecting the camel case form of the primary key, while it receive the original name:
[code]

[2022-09-25 18:13] stetorm opened #29 "Support for JSON columns"
Using the automatically generated REST API to get entities contaning object fields, you'll get
`[object Object]` instead of the value string serialization, for each of such fields.

[2022-09-25 19:23] leorossi commented on #29
Thanks for reporting this! Can you please provide an example on how to reproduce this? SQL Dump and a sample API call would be enough

[2022-09-26 07:17] stetorm commented on #29
GET http://127.0.0.1:3042/games
Response:
[{"id":"2","name":"run","config":"[object Object]"}]
[sql.zip](https://github.com/platformatic/platformatic/files/9643836/sql.zip)

[2022-09-26 07:51] mcollina commented on #29
We should map `json` fields to JSON schema object with arbitrary values (in OpenAPI/REST) and use https://github.com/taion/graphql-type-json for GraphQL instead.

[2022-09-26 07:55] mcollina commented on #8
Sure thing, take it.

I don't understand why you'd need an inner join for this.

[2022-09-26 09:01] mcollina opened #31 "Support grouping authorization rules by role"
Reported in discord at https://discord.com/channels/1011258196905689118/1011258204371554307/1023880347601092631

[2022-09-26 09:04] mcollina opened #32 "Optionally add a X-Total-Count Header to all GET elements that returns a list"
Reported as https://discord.com/channels/1011258196905689118/1011258204371554307/1023881381476057118

Ref https://github.com/marmelab/react-admin/tree/master/packages/ra-data-json-server.

[2022-09-26 09:06] mcollina opened #33 "Evaluate integrating react-admin inside db-dashboard"
Checkout https://github.com/marmelab/react-admin

[2022-09-26 09:12] mcollina commented on #27
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-09-26 09:18] leorossi commented on #27
Maybe just the config file and/or the connectionString, should be enough in this case.

Anyway there is a typo here https://github.com/platformatic/platformatic/blob/main/packages/sql-mapper/mapper.d.ts#L21

It should be `isMysql` and **not** `isMySQL`

[2022-09-26 09:20] mcollina commented on #27
@leorossi would you mind sending a PR to fix the type? Maybe add a test with tsd to cover this?

[2022-09-26 09:29] mcollina opened #34 "Make the OpenAPI documentation (exposed via swagger-ui) aware of the authorization rules"
Currently, `@platformatic/db-authorization` and the swagger UI are not connected but they should.

[2022-09-26 13:31] #27 closed

[2022-09-26 14:07] mcollina opened #38 "Flaky test on type generation"
The job failed in CI: https://github.com/platformatic/platformatic/actions/runs/3128279630/jobs/5075945535

[2022-09-26 18:42] #38 closed

[2022-09-27 09:58] mcollina opened #43 "Live notification, GraphQL Subscriptions, and WebSocket in Platformatic DB"
We should support some form of "live updates" for all changes that goes into Platformatic DB.
This is an epic composed by a few subtasks:

* [x] create a new `@platformatic/sql-events` module that publishes updates to a [mqemitter](http://npm.im/mqemitter), this should use the hooks.
* [x] add support for `sql-events` in `sql-graphql`, automatically creating a few `Subscription` to be notified on

[2022-09-27 10:13] leorossi commented on #21
Working on it!

[2022-09-27 10:41] marcopiraccini opened #44 "`db init` should create also a `undo` migration"
Currently, only `001.do.sql` is created.
We should create also the related `001.undo.sql`

[2022-09-27 10:57] bijaydas commented on #44
Instead of creating the files manually, it will be nice if something like this happens

[code]

[2022-09-27 12:53] marcopiraccini commented on #44
`npx platformatic db init` creates `001.do.sql` automatically already, but is just a placeholder. For completeness, we should also add the related `undo`, so a user can immediately apply the migration and roll it back. A `create:table` would be a different feature IMO @bijaydas

[2022-09-27 14:36] #44 closed

[2022-09-27 20:20] fromflux opened #49 "Missing import in Reference > SQL-Mapper example"
The base code example under Reference > SQL-Mapper docs seems to be missing the mapper import in the main branch.

File ```docs/reference/sql-mapper/introduction.md```
Missing line ```const { connect } = require('@platformatic/sql-mapper')```

PS. Thank you for making this available. Looks amazing.

[2022-09-27 22:01] alexfernandez commented on #28
I have tried my best to create a pull request but I'm getting so many errors from the pre-commit hooks, I'm too stupid to fix. Anyway, with this one-liner it's working for me:

[code]

[2022-09-28 07:04] #20 closed

[2022-09-28 07:32] leorossi commented on #28
@alexfernandez did you run `docker-compose up -d` before running tests? Most of them use real databases expected to be running on local machine.

Anyway I will test your oneliner and open a PR

[2022-09-28 07:59] #21 closed

[2022-09-28 08:20] alexfernandez commented on #28
Great, thanks! I see that @marcopiraccini has created a PR with a much better one-liner and a specific test.

Awesome job with platformatic by the way ;)

[2022-09-28 08:27] #49 closed

[2022-09-28 08:47] #28 closed

[2022-09-29 09:35] marcopiraccini opened #55 "We generate `plugin.js` and plugin confing on the first migrate"
[Here](https://github.com/platformatic/platformatic/blob/dde5607cef5a334dd4d56ae470f0022f7ca15490/packages/db/lib/migrate.mjs#L32)

We should generate them during `npx platformatic db init`

Current behavior is confusing, because `plugin.js` (+config) is not created on `init` but appears after the first migration.

[2022-09-29 09:43] ivan-tymoshenko commented on #55
@marcopiraccini, I agree that creating a plugin makes more sense on the init command. I had a discussion with @mcollina. It was his idea to generate a plugin after we generate types.
1. Should we create a plugin by default?
2. Should we add types impors to the plugin?

[2022-09-29 09:44] mcollina commented on #55
Now that I think about it's _confusing_.

[2022-09-29 13:03] marcopiraccini opened #56 "Types generation is not documented in cli help"
[code]

[2022-09-29 13:09] marcopiraccini commented on #56
Same for `schema`

[2022-09-29 15:50] marcopiraccini opened #58 "`db schema` starts the server if no graphql/openapi is specified"
To reproduce run in a folder with valid Platformatic DB configuration:

[code]

Expected behavior: it should say that a further param is missing (graphql / openapi) or run with a default.

[2022-09-29 16:28] simonplend commented on #58
On a related note, I think it could be a good idea to drop `platformatic db` (with no subcommand) starting the server, but instead to output help with the available subcommands instead.

[2022-09-30 09:49] ivan-tymoshenko commented on #55
@marcopiraccini @mcollina If we generate the plugin with the init command, how should we inject types in this plugin then?

[2022-09-30 09:51] ivan-tymoshenko commented on #55
plugin without types:
[code]

plugin with type:
[code]

I think it's a bad idea to parse the plugin to find the place where we can insert type declarations.

[2022-09-30 11:08] #56 closed

[2022-09-30 11:23] #32 closed

[2022-09-30 14:00] mcollina commented on #55
How would you do it @ivan-tymoshenko?

[2022-09-30 15:07] alexfernandez commented on #28
Thanks for the super fast response :heart: When is the next planned point release so we can get the fix via `npm`?

[2022-10-01 10:54] ricfio opened #64 "In SQL-to-REST API `limit` and `offset` do work only when used together"
In SQL-to-REST API the get parameters `limit` and `offset` do work only when used together.
`http://127.0.0.1:3042/movies`
[code]
`http://127.0.0.1:3042/movies?limit=1&offset=2`
[code]

The get parameter `limit` does not work when used alone:
`http://127.0.0.1:3042/movies?limit=1`
[code]

The get parameter `offset` does not work when used alone:
`http://127.0.0.1:3042/movies?offset=1`
[code]

[2022-10-01 10:58] ricfio commented on #64
Also, `limit` and` offset` support is not reported in the SQL to REST API documentation.

[2022-10-01 12:34] mcollina opened #65 "Clarify CONTRIBUTING.md to see what "start the platformatic db" mean"
In https://github.com/platformatic/platformatic/blob/main/CONTRIBUTING.md#start-platformatic-db, we don't clarify things.

[2022-10-01 13:22] ricfio commented on #64
https://github.com/platformatic/platformatic/pull/66

[2022-10-01 14:35] madflow opened #68 "Use Hypermedia in RESTlike API"
Hello,

this is an Idea not a bug.

Consider the following minimal example:

[code]

What I would expect from a more restful API is Hypermedia support (https://reflectoring.io/rest-hypermedia/).

An example response would be:

```http GET /posts```

[code]

``` GET http /posts```

[code]

The same would apply to response to POST/PUT/PATCH requests.

In order to accomplish this, Hypermedia must eit

[2022-10-01 18:27] ricfio opened #70 "openapi `limit` and `offset` parameters do not work adding authorization config for entity with find:true"
Adding `authorization` node with `find: true` in `platformatic.db.json` the parameters `limit` and `offset` do not work:
[code]

You can try it adding the above snippet configuration in the "tutorial movie"  here:
`tutorial-movie-quotes-app/apps/movie-quotes-api/platformatic.db.json`

Here the different API responses for the following request:
`http://127.0.0.1:3042/movies?limit=1&offset=2`

Using

[2022-10-02 06:43] AbderrazzakB opened #71 "How to ignore or disabled a specific graphql and RestAPI mutation!"
Hello, I have this situation where I have an organizations_logs table this table is only for tracking users' actions on organizations, adding operations, adding members, and deleting members... and I want to disable save and insert mutation for this table, but I can only see ignoring all the table or column of the table

[2022-10-02 08:48] marcopiraccini commented on #71
@AbderrazzakB not sure I understand what you want to do, but you can set `save: false` in `authorization` configuration. See: https://oss.platformatic.dev/docs/reference/configuration#authorization

[2022-10-02 09:29] #64 closed

[2022-10-02 09:30] mcollina commented on #68
Currently this is not possible. Do you know how is the hypermedia support in OpenAPI?

[2022-10-02 09:56] madflow commented on #68
Unfortunatly I have not documented an API with "Links" with OpenAPI. But from what I can tell there is a concept like this implemented in Version 3.

https://swagger.io/docs/specification/links/
https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#linkObject

[2022-10-02 09:59] mcollina commented on #68
OpenAPI links are somewhat different, however it's something we should support. I don't think we'd support dynamic links in the actual response.

[2022-10-02 10:02] mcollina opened #73 "Add Links OpenAPI definitions"
Ref: https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#linkObject

[2022-10-02 10:02] mcollina commented on #68
Closing in favor of #73

[2022-10-02 10:02] #68 closed

[2022-10-02 10:23] #29 closed

[2022-10-03 07:03] #70 closed

[2022-10-03 12:19] ofirbarak opened #79 "NoSQL support"
Hi,
Will there be a support for NonSQL DBs?

[2022-10-03 18:20] AbderrazzakB commented on #71
Will I was looking for  someway to overwrite a mutation logic, but I found that we can do that simply by using the defineResolvers from the plugin and re-define the mutation from there
![image](https://user-images.githubusercontent.com/23277063/193649972-405bd07b-1e4b-4c56-b729-f5b81c7346e5.png)

[2022-10-04 08:36] marcopiraccini commented on #55
About this, I am not sure we should generate the types automatically in migration.
Normally It's fine to generate them, but if you apply a migration, then you rollback,  probably you will end up in some messy situation (types no aligned with DB and entities). maybe the generation should be at least "optional"
We could:
- Ask the user during migration if they want also to generate (or ri-generate)

[2022-10-04 08:45] mcollina opened #83 "Add link to GraphiQL and OpenAPI documentation in the generated homepage"
In https://github.com/platformatic/platformatic/blob/main/packages/db/lib/root-endpoint/public/index.html, add a link to `/graphiql` and `/documentation`

[2022-10-04 08:45] mcollina commented on #55
I'm ok with the change proposed.

[2022-10-04 09:23] marcopiraccini opened #84 "Migrations should not be triggered by hot reload"
Migration applied automatically when a file is created can be messy because a user can:
- Save a a file with a partial migration
- Platformatic DB applies the partial migration
- The user complete the mifration and saves again
- Platformatic DB doesn't execute the migration (because already applied).

To fix this we need to disable the automatic execution on migration, user must always execute `np

[2022-10-04 09:35] mcollina opened #85 "server becomes unavailable after reload if plugin fails to start"
Unfortunately, I have no reproduction at the moment.

[2022-10-04 09:47] ivan-tymoshenko commented on #55
This will work. Each time you call `execute` types, all types are regenerated from scratch. But I agree that standalone commands should be atomic by default.

@marcopiraccini It doesn't answer the question of how we should inject types imports to the plugin. If I create a plugin with the `init` command and then generate types with `types` command I still have to inject types imports.

[2022-10-04 10:03] mcollina commented on #55
I think we can generate an empty `global.d.ts` when we create the plugin with the `init` command and _always_ inject the types imports. Would that work @ivan-tymoshenko?

[2022-10-04 10:08] ivan-tymoshenko commented on #55
Users will have to install fastify in order to have no warnings.

[2022-10-04 10:12] mcollina commented on #55
That's ok!

[2022-10-04 11:08] mcollina opened #87 "Disable watch config for the migration folder"
See https://github.com/platformatic/platformatic/pull/86

[2022-10-04 11:08] DZakh opened #88 "Make graphql fields required?"
I've been going through the guide and noticed that for some reason, a lot of returning types in the gql schema are optional, although it looks like they shouldn't be.

Here's the schema:
[code]

I'm not sure whether my logic is correct, so I'd like to ask first whether it's correct behavior or not.

Is it a part of Platformatic DB or some other tool it is using?

The reason why the problem might b

[2022-10-04 13:27] anonrig opened #90 "Add support for generated columns"
It would be good to convert generated columns to readonly typescript types where a generated column is constructed from 2+ more columns in the table.

Relevant PostgreSQL doc: https://www.postgresql.org/docs/current/ddl-generated-columns.html

[2022-10-04 14:03] matijagaspar opened #92 "Missing query logging for sqlite when log level is trace"
Sqlite connection is not using the [buildConnection](https://github.com/platformatic/platformatic/blob/89f5cb491cf96b29be98534aea5ab35bb8fbb3ac/packages/sql-mapper/mapper.js#L9) where the query log hooks defined.

So when using sqlite there is not queries in trace logs.

https://github.com/platformatic/platformatic/blob/89f5cb491cf96b29be98534aea5ab35bb8fbb3ac/packages/sql-mapper/mapper.js#L74

[2022-10-04 14:05] ivan-tymoshenko commented on #92
Thank you for your PR. Would you like to add a PR for this issue?

[2022-10-04 15:18] marcopiraccini commented on #84
Fixed by https://github.com/platformatic/platformatic/pull/86

[2022-10-04 15:18] #84 closed

[2022-10-04 16:23] matijagaspar commented on #92
I discovered this during nodeconf workshop, will try to give it a go once I am back.

[2022-10-05 08:58] mcollina opened #95 "Migration generator command"
We should have a small command to generate a new migration.

[2022-10-05 09:01] mcollina opened #96 "Logging documentation"
We should document that we use [pino](https://getpino.io) and we log as newline delimited JSON.
Morever, we should document that the "pretty printing" of logs is enabled by default only if the user is using a TTY (as well as the ASCII art).

[2022-10-05 09:03] mcollina opened #97 "Enable query logging with SQLite"
Currently, query logging as `trace` level is only logged by PostgreSQL, MariaDB, and MySQL. We should enable it for SQLite too.

[2022-10-05 09:06] mcollina opened #98 "Document that "save" is an upsert operation"
It does not seem clear from the docs

[2022-10-05 09:10] mcollina opened #99 "Document that using the admin API key for authorization is unsafe"
As titled.

[2022-10-05 09:11] mcollina opened #100 "Disable user impersonation via the admin secret if JWT or Webhook are defined"
As titled

[2022-10-05 09:13] mcollina opened #101 "Remove running migrations on startup completely"
I think folks might be confused by it, it's better to run it separately.

[2022-10-05 09:19] mcollina opened #102 "Document the platformatic db development process"
It's not clear how to migrate from the automatic CRUD generation to custom business logic using the plugin system, and then how to _just_ use our core modules.

[2022-10-05 09:28] mcollina commented on #79
Not at the moment, there might be in the future! Thanks!

[2022-10-05 09:28] #79 closed

[2022-10-05 09:29] mcollina commented on #90
How would you implement it?

[2022-10-05 09:29] mcollina commented on #97
Duplicate of https://github.com/platformatic/platformatic/issues/92

[2022-10-05 09:29] #97 closed

[2022-10-05 09:31] mcollina commented on #101
The best way to implement is to flip the default to `false`.

[2022-10-05 09:45] anonrig commented on #90
Ideally, `dts-generator` should understand what a generated column is and generate `readonly` typescript type for it.

Draft-7 supports `readOnly` attribute: https://github.com/horiuchi/dtsgenerator/blob/3ab2ecd131a9363007679e8df51315149f7e8388/SupportedFeatures.md#draft-07

Ideally, something like this:

[code]

[2022-10-05 09:48] anonrig opened #103 "Dependency pre-bundling for cli"
Since cli has 400+ dependencies, it would be faster, easier, and more stable to just pre-bundle all dependencies. Vite has support this: https://vitejs.dev/guide/dep-pre-bundling.html

[2022-10-05 13:58] mcollina commented on #85
Here is a fix: https://github.com/fastify/restartable/pull/31.

[2022-10-05 16:35] #85 closed

[2022-10-05 16:44] #92 closed

[2022-10-05 16:45] #55 closed

[2022-10-06 09:16] #8 closed

[2022-10-06 09:40] marcopiraccini opened #112 "GET with `fields` requires all not-nullable field on responses"
To reproduce it, apply this migration:

[code]
Then **ADD SOME DATA**, start the server and query for the authors:
[code]
So, the data returned are validated using the schema (in this case, `title` is mandatory) but this should not happen on `GET`
Note that this happens only if there are actual data in the table, with no data, `[]` is (correctly) returned.

[2022-10-06 09:52] mcollina commented on #103
I don't think we should really pre-bundling in this phase. It'd be too much burden to maintain - thanks for the suggestion - we can reconsider in the future!

[2022-10-06 09:52] #103 closed

[2022-10-06 12:37] stanimirovv commented on #101
Is this up for grabs ?

I am interested in learning and contributing to platformatic and looks like a good first issue that can allow me to start learning the codebase.

[2022-10-06 12:43] ivan-tymoshenko commented on #101
@stanimirovv Any contributions are more than welcome. I think you can take it. It should be here.
https://github.com/platformatic/platformatic/blob/74dfba630c691cc5937dab9a67b77406bf43ac17/packages/db/index.js#L46

[2022-10-06 12:49] ivan-tymoshenko commented on #101
Note that we still want to be able to automatically apply the migration. You just need to change the default to false and update the tests.

[2022-10-06 13:05] mcollina opened #114 "automatically post an announcement for every release"
We should have a GitHub action that automatically publish a message on Discord and share a tweet every time there is a new release.

[2022-10-06 14:03] alexfernandez commented on #101
OK, understood!

[2022-10-06 14:07] stanimirovv opened #116 "Add linting command"
I noticed there is no linting npm script.

I can recreate the setup from fastify, I assume the goal is to have the same formating and linting ?

[2022-10-06 14:10] ivan-tymoshenko commented on #116
In which package did you not find the linting test?

[2022-10-06 14:10] mcollina commented on #116
I think we have linting enabled for every package. Where is it missing?

[2022-10-06 14:23] stanimirovv commented on #116
My bad.

I just checked every package.json.
In some places it is part of the test command, not stand alone, but I don't see this as an issue since you will always run the tests before commiting.

[2022-10-06 14:23] #116 closed

[2022-10-06 14:38] mcollina opened #118 "Create cerbos integration"

[2022-10-06 14:56] alexfernandez opened #119 "Don't know how to change base URL"
I want to serve all `platformatic` content with a prefix of `/v1` (for instance) so I can set up routing properly. Right now each table is served in the root directory, e.g. table `users` is in `/users`; not good for routing.

I have tried to set up a base path of `/v1` in several ways but no luck.

* I tried to set `basePath` in [Swagger config](https://swagger.io/docs/specification/2-0/api-host-

[2022-10-06 15:09] mcollina opened #120 "Document types + typescript support"
As a follow-up to #47, we must add the documentation.

[2022-10-06 15:18] mcollina commented on #119
This is missing, we'll need to add this if you don't beat us to it!

[2022-10-06 17:37] alexfernandez commented on #119
Yes, it could apply as well to GraphQL I guess. Would be a major improvement. Thanks!

[2022-10-07 08:38] stanimirovv commented on #95
Hi, I've wrapped up work on #101.

If this is looking for a contributor I'd like to take it.
Thanks!

[2022-10-07 11:10] marquicodes opened #125 "Semicolon(s) in comments in migration files gives error"
If in migration files there are comments that contain a semicolon, e.g. commented out SQL command(s) and try to strart the app or issue the command:

[code]

you get the following error:

[code]

I tried the following comments in a migration file:

-- A comment that contains a ;

-- CREATE TABLE IF NOT EXISTS movies (
--   id INTEGER PRIMARY KEY,
--   title TEXT NOT NULL
-- );

[2022-10-07 11:12] stanimirovv commented on #96
IMO a general "Stack overview" may be helpful.

You can gather the information that standard + snazzy are used for formatting, tap for testing, etc but since the stack will likely be unchanged we can have it all in one place.

In the current doc structure I don't see a proper fit for the logging documentation.

[2022-10-07 11:17] simonplend commented on #96
I think we need to introduce a 'Platformatic DB' category under the reference section and we can document logging there (amongst other things).

@mcollina This could also help us resolve documenting standalone usage of packages vs usage in Platformatic DB.

[2022-10-07 11:19] simonplend commented on #96
@stanimirovv There's an Architecture page under the Getting started section, but I agree it would be good to document the stack in more detail. Could you please raise a separate issue for this and expand on your thoughts there?

[2022-10-07 11:36] #101 closed

[2022-10-07 12:37] mcollina commented on #96
I'm moving this issue to you @simonplend, you likely have a better understanding of what needs to be done.

[2022-10-07 12:38] stanimirovv opened #126 "[Documentation] Tech Stack Page and common scripts to help with onboarding contributors"
Explicitly saying what techstack is used and documenting how to manually lint and format your code, how to run only specific tests should make the onboarding easier.

Contributors may be discouraged if they have to learn 3-4 new tools to start contributing.

Ofcourse the tools should be learned, but having a documentation page may make the project more inviting and help with the onboarding.

[2022-10-07 12:39] mcollina commented on #95
Go for this!

[2022-10-07 12:39] stanimirovv commented on #96
@simonplend here is the issue with a better explanation: https://github.com/platformatic/platformatic/issues/126

[2022-10-07 12:42] ivan-tymoshenko commented on #95
Can you describe what this command should do? What kind of migration should it generate? Should it have params like `tableName` or `fields`?

[2022-10-07 12:47] mcollina commented on #95
This command should generate the next available integer, e.g. if there are migrations 001 and 002, it should generate 003.

[2022-10-07 12:47] mcollina commented on #96
I'll do this regarding to logging.

[2022-10-07 12:50] ivan-tymoshenko commented on #95
Should it generate an empty file?

[2022-10-07 12:52] mcollina commented on #95
Yes

[2022-10-07 12:55] stanimirovv commented on #95
@ivan-tymoshenko  thanks a lot of asking the questions. I was beginning to wonder this myself.

@mcollina thank you for the ellaboration.

[2022-10-07 12:55] leorossi opened #127 "Include a sample configuration in the config reference doc"

[2022-10-07 13:11] #127 closed

[2022-10-07 13:32] #83 closed

[2022-10-07 13:54] #98 closed

[2022-10-07 19:35] stanimirovv commented on #95
Rough draft here: https://github.com/stanimirovv/platformatic/tree/feat/migration-generation

PR on Monday latest.

[2022-10-08 11:57] ruheni opened #134 "[Inquiry]: Supported protocols when connecting to SQLite"
Hey 👋🏽

What protocols does Platformatic support when connecting to an SQLite database? The information isn't documented in the docs.

 Only `sqlite://` is currently supported. Is this intentional? `file:../dev.db` doesn't seem to work. Should it be supported (if not)? Happy to contribute however I can. :)

[2022-10-08 17:00] ricfio commented on #33
I add that it would be interesting to have platformatic-db in this list:
https://marmelab.com/react-admin/DataProviderList.html

[2022-10-08 18:22] mcollina commented on #134
This is intentional. There might be other embedded database we might want to support.

[2022-10-08 18:23] #134 closed

[2022-10-09 10:19] Jacopo47 commented on #119
Hi,
I was interested to this feature so I tried to investigate it a bit in order to provide a PR.
But before go ahead with some code changes I would ask for few feedback.

Because I found that it's possible actually provide a `prefix` option to server conf:
[code]
This will expose the root endpoint at /v1 but actually it's not inherited by all the other routes,
for example this is how the swagger

[2022-10-09 10:25] Jacopo47 opened #135 "Swagger is not respecting specifications due to missing info.version field"
Generated swagger file by: /documentation/json
is not a valid swagger due to missing info.version field.
This field for OpenApi 3.x specs is [mandatory](https://swagger.io/specification/) so it preventing third-party tools to handle this file.

How to reproduce:
1. Generate file from: /documentation/json
2. Import it in editor.swagger.io or postman

[2022-10-09 12:41] ricfio opened #137 "Add Content-Range header support to platformatic-db"
I would like to have `Content-Range` header support in platformatic db:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Range

There is already the `X-Total-Count` header support (recently added) that could be refactor to alternatively support: `Content-Range` or `X-Total-Count` header.

See also:
- https://github.com/marmelab/react-admin/tree/master/packages/ra-data-simple-rest

[2022-10-09 12:49] mcollina commented on #135
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-10-09 12:50] ricfio commented on #137
A very easy solution could be to add both headers (`Content-Range` and `X-Total-Count`) when now is added only one header (`X-Total-Count`).

What do you think about?

[2022-10-09 13:10] Jacopo47 commented on #135
Would be great submit a PR, thanks!

Should it be configurable or static?
If configurable: should I add docs?

[2022-10-09 14:55] mcollina commented on #119
We should add a prefix in the config but not inside server, the `prefix` should be limited to the openapi routes.

[2022-10-09 14:58] mcollina commented on #137
The content-range header is usually used for partial downloads of files. I don't think there is a good way to support it here.

[2022-10-09 15:11] ricfio commented on #137
You have right.

In fact, here is explained that to use Content-Range for this purpose is an hack, so I think it's no a good idea support it:
https://github.com/marmelab/react-admin/tree/master/packages/ra-data-simple-rest#note-about-content-range

Furthermore, using X-Total-Count we can already have the necessary information.

[2022-10-09 15:11] #137 closed

[2022-10-09 16:31] mcollina commented on #135
It should be static, add it to the  config of `@fastify/swagger` in https://github.com/platformatic/platformatic/blob/main/packages/sql-openapi/index.js

[2022-10-10 07:51] stetorm opened #142 "JSON field update fails"
Updating a record, on mysql db, containing a JSON field fails.
Reproduce using attached migration files and performing the request:
`curl --header "Content-Type: application/json" \
  --request PUT \
  --data '{"id":2, "name": "run", "config":{"points": 1001}}' \
  http://localhost:3042/games/2
`
The response I've got is:
`{"statusCode":500,"code":"ER_BAD_FIELD_ERROR","error":"Internal Server Erro

[2022-10-10 08:13] mcollina commented on #142
Thanks for reporting! Our support for JSON fields is not great - we'll improve.
It'd also be awesome to get a PR for this.

[2022-10-10 08:28] leorossi commented on #142
Which DB are you using?

Btw the attached file seems empty :(

[2022-10-10 12:19] mcollina opened #146 "migrate to https://github.com/pkgjs/parseargs"
After minimist became unmaintained and its repository removed, we should migrate to https://github.com/pkgjs/parseargs - and eventually to util.parseArgs().

[2022-10-10 12:53] #99 closed

[2022-10-10 13:39] stetorm commented on #142
Hi, as i wrote it's a MySQL db,
here are the files, sorry
[migrations.zip](https://github.com/platformatic/platformatic/files/9746370/migrations.zip)

[2022-10-10 13:53] mcollina commented on #146
In case we might want to _not_ move to `parseArgs`, we could just use https://github.com/mcollina/minimist.

[2022-10-10 19:26] deppe opened #151 ""Cannot find primary key" error for postgres tbl"
I'm trying to run platformatic on an existing postgres db by setting connection string directly and bypassing migration. on `npx platformatic db start` I get the following error `Error: Cannot find primary key for Advert entity`.

The adverts table has the following DDL:

[code]

Any idea what could be causing this?

[2022-10-11 07:59] mcollina commented on #151
For reasons I ignore, we are missing `CONSTRAINT adverts_pkey PRIMARY KEY (id)` when reading your table info. We'll fix it.

[2022-10-11 08:07] mcollina opened #153 "Add midnight-smoker to do some basic integration testing"
Check out https://www.npmjs.com/package/midnight-smoker.

The goal is to catch configuration and dependency errors, e.g. a needed dependency wrongly classified as a devDepedency.

[2022-10-11 08:26] stetorm commented on #146
Do u already have test cases to support the migration?

[2022-10-11 09:09] ruheni opened #154 "[Feature Request]: Nested Writes for relations"
It would be a nice feature to be able to create or connect nested records in a single request.

For example, if I have the following migration:

[code]

It would be nice to be able to create/ update/ connect nested records, i.e:

[code]

The current workaround for this making 2 mutations to connect two records.

[2022-10-11 10:29] ivan-tymoshenko commented on #151
@deppe I can't reproduce you issue. Do you have some time right now?

[2022-10-11 10:43] mcollina commented on #154
Indeed, this would be handy. It's kind of hard to do for `save` (given its upsert nature), however we can definitely do this for `insert`.

[2022-10-11 10:46] mcollina commented on #146
All our CLIs are fully tested.

Anyway, it seems minimist is back under new trusted management, so we can safely close this https://www.npmjs.com/package/minimist

[2022-10-11 10:46] #146 closed

[2022-10-11 10:52] ivan-tymoshenko opened #156 "Move FileWatcher from ConfigManager to separate entity"
Config manager shouldn't watch files except maybe itself. After moving we can add watch metrics to the config.

[2022-10-11 12:39] #100 closed

[2022-10-11 13:18] ruheni opened #160 "[Inquiry]: Extending `app` with custom fastify plugin"
Is it possible to extend `app` (`FastifyInstance`) when creating a custom plugin? I'd like to register a custom Fastify plugin in my plugin (feels meta). And could you please share a minimal example of how to do this? (docs would be fine too)

If this is possible, I would be happy to contribute to the Platformatic docs. :)

[2022-10-11 13:45] marcopiraccini commented on #160
Did you already check the doc [here](https://oss.platformatic.dev/docs/reference/plugin) and [here](https://oss.platformatic.dev/docs/guides/add-custom-functionality/introduction)?

[2022-10-11 14:05] ivan-tymoshenko commented on #160
@ruheni yes, `app` as you said is an Fastify instance. You can create as many nested plugins as you want. Documentation is here https://www.fastify.io/docs/latest/Reference/Plugins/#plugins. You will need `decorate` method.

[2022-10-11 14:07] ruheni commented on #160
Thanks for the link to the docs ivan! I'll try it out and follow up on the progress in this issue :)

[2022-10-11 14:22] ivan-tymoshenko opened #161 "Show a warning if db user doesn't have required permissions"
We should check if db user has all required permissions before starting an app. If user doesn't have permissions to read the database schema it can be hard to catch an error like that. We need to show a user-friendly error.

[2022-10-11 14:26] ivan-tymoshenko opened #162 "Add database tables allow/ignore list"
If a user already has a ready-made database and he does not want to create an api for all data, we should give him such an opportunity. It might be especially useful when user has a big db and can create a few view tables to work with platformatic.

[2022-10-11 14:28] marcopiraccini opened #163 "We have a useless `/` path in swagger"
To reproduce:
[code]
then open: http://localhost:3042/documentation/static/index.html

At the end, we have a GET `/` which should not be in openapi doc (returns the welcome page):

![image](https://user-images.githubusercontent.com/668050/195118873-4179607b-eeb5-4348-a84d-b2e0ace59422.png)

[2022-10-11 14:32] deppe commented on #151
Discussed with @ivan-tymoshenko offline. This was caused by using a connection string for a user without DDL permissions. See https://github.com/platformatic/platformatic/issues/161 for follow-up.

While troubleshooting, we ran into another a similar "Cannot find primary key" error. In this case, the table only has a foreign key without a primary key:

[code]

[2022-10-11 14:37] ivan-tymoshenko commented on #151
@mcollina Do we want to add support for schemas without primary key. We won't have endpoints that return entity by id, but we still can have an endpoint that return all entities. WDYT?

[2022-10-11 15:31] ruheni commented on #160
I'm running into an error defining my custom fastify plugin.

I'm trying to define a `prisma` plugin that I could use to extend the GraphQL and REST APIs. Here's the code for the plugin:

[code]

When I run `npx platformatic db start`, I run into the following error:
[code]

Am I missing something when extending the `FastifyInstance`?

I created a repo with a minimal reproduction here: https://git

[2022-10-11 15:37] mcollina commented on #151
Indeed, it would essentially be a read-only table. What's interesting is that you could still use it for nested references.

[2022-10-11 15:41] ruheni commented on #160
Minor update: I bumped up my Node version to 18.10.0 and it works smoothly. 🙈

[2022-10-11 18:07] AbderrazzakB opened #167 "Following the controbution guid is not working!"
after running `mkdir -p my-demo/migrations`  and then running `pnpm i` I don't find The CLI package is now available at ./node_modules/.bin/platformatic.
and when I run `(cd packages/cli && pnpm link)` I get this error ERR_PNPM_LINK_BAD_PARAMS  You must provide a parameter
- node v16.17.1
- pnpm -v 7.13.4

[2022-10-12 08:08] #119 closed

[2022-10-12 16:26] simonplend opened #172 "Missing documentation in Configuration reference for core.logger object"
The supported `core.logger` object isn't mentioned in the [Configuration reference for `core`](https://oss.platformatic.dev/docs/reference/configuration/#core).

I noticed this while editing documentation in #170.

[2022-10-12 16:28] simonplend commented on #172
Related question: Does Platformatic DB pass on all options in the `core` object when creating a new Fastify server instance i.e. as Fastify server options?

[2022-10-13 04:16] MzUgM opened #174 "Is it possible to have an entity hook provide default values?"
Demo repo: https://github.com/MzUgM/plt-issue-hook-ajv

Scenario:

* Have a table with a `NOT NULL` field
* Don't want GQL/REST consumer to provide values for this particular field
* Use an entity hook to provide the value for the field

Code samples to set the stage (all found in the demo repo).

Demo table:
[code]

Entity hook:
[code]

When requests are made against this service with an empty bo

[2022-10-13 05:42] mcollina commented on #174
This is an interesting feature to support. What's blocking you is the JSON Schema validator.

@ivan-tymoshenko can you take a look?

[2022-10-13 07:22] #96 closed, assigned to marcopiraccini

[2022-10-13 08:07] ivan-tymoshenko commented on #174
It depends on #123, which provides `partial` entity schema support.

[2022-10-13 16:17] simonplend opened #178 "Update Configuration reference URL in CLI help texts"
The Configuration reference for Platformatic DB has moved. The URL needs updating in the CLI help texts.

Replace: https://oss.platformatic.dev/docs/reference/configuration

With: https://oss.platformatic.dev/docs/reference/db/configuration

[2022-10-14 09:45] ivan-tymoshenko opened #181 "Reduce amount of config watch options"
Here is my suggestion.
- We watch config and .env files. If they change, we parse the config and reload the server. As I understand, there are no crushes here.
- I will rename the `hotReload` plugin option to the `watch`. It will do the same thing as `hotReload`, plus it will enable/disable watching ts/js plugins files and all other files that user wants to add to the allowToWatch option.

[2022-10-14 11:53] alexfernandez commented on #119
Awesome, thanks a lot! :pray:

[2022-10-14 13:59] #156 closed

[2022-10-14 14:11] ivan-tymoshenko opened #183 "Move typescript config options under plugin section"
It was impossible to do when the `init` command didn't create a plugin. Not it seems more logical to have the `typescript` config section under `plugin`. The `typescript.watch` should be replaced with `plugin.watch`.

[2022-10-15 14:43] giacomocerquone commented on #33
An adapter for react-admin would definitely be nice to have. That would also be beneficial if you feel like integrating into the db-dashboard package

[2022-10-16 04:42] bacebu4 opened #188 "Table can't reference another table twice"
Given the following schema

[code]

I can't fetch `another_movie` entity from graphQL. By the way, it's a real case scenario, table names were changed on purpose

Tried finding a problem by myself but haven't got a clue where to start

[2022-10-16 09:13] bacebu4 commented on #188
Ok, I found out the line that can be fixed

https://github.com/platformatic/platformatic/blob/main/packages/sql-graphql/lib/relationship.js#L26

It should probably rely on `relation.column_name`

The more harder topic – how should we determine how we should call that relation? It's easy if it's called `some_entity_id` (we can simply cut out the `_id` part)
But what is someone not following this gu

[2022-10-16 10:42] bacebu4 commented on #188
Inverse side of the relation is also gonna be broken in that case

[code]

`quotes` will only look for `another_movie_id` references

[2022-10-16 10:49] mcollina commented on #188
A PR would be awesome, thanks!

As for naming, I would recommend using the same logic of the other properties.

[2022-10-16 11:27] bacebu4 commented on #188
Got you, I'll let you know if I'm gonna get stuck again

[2022-10-17 05:15] #188 closed

[2022-10-17 08:34] mcollina opened #194 "Remove dashboard -> enabled configuration"
Currently we enable the dashboard with:
[code]

However we should enable or disable the dashboard with:

[code]

If other configuration options are set, the dashboard will be considered enabled:

[code]

[2022-10-17 11:24] #178 closed

[2022-10-17 14:57] salvdelpiano commented on #194
I would like to work on this :)

[2022-10-18 09:47] #194 closed

[2022-10-18 12:47] giacomocerquone opened #201 "Add rest react-admin dataprovider"
Hey there, in the little spare time I have I've built the REST version of a [react-admin dataprovider](https://marmelab.com/react-admin/DataProviderIntroduction.html#:~:text=The%20dataProvider%20exposes%20a%20predefined,%7B%20id%3A%20123%20%7D) to be used with platformatic rest apis in the following repo: https://github.com/giacomocerquone/ra-data-platformatic (still need to write a couple of test

[2022-10-18 12:55] mcollina commented on #201
We'll dig a bit into the code and get back to you.

@leorossi can you investigate if it would be feasible to add this to our dashboard? We also have #33.

[2022-10-18 13:21] geoman2 opened #202 "(Feature request) Add ts-rest (rest api but a la trpc) support"
Hi Matteo and the contributors
I have read about type-safety in a la trpc, but in a restful application. What is I talk about https://ts-rest.com/docs/comparisons/rpc-comparison
Can this package be added to platformatic, so we could use type-safety and code completion into vs code or are there other way to have this in platformatic?

[2022-10-18 13:31] mcollina commented on #202
What would ts-rest adds that OpenAPI or GraphQL do not? There are plenty of tools that can automatically generate a client based on those definitions.

[2022-10-18 13:52] geoman2 commented on #202
Trpc is very hyped these days and I was thinking it would be welcomed into platformatic.

[2022-10-18 15:36] mcollina commented on #202
My understanding from the link you posted is that ts-rest is not tprc. Did I misunderstand something?

[2022-10-18 15:43] kamikazechaser commented on #202
This would be a significant lock in. You would then get requests for gRPC, JSON-RPC and all sorts of other protocols to be added to platformatic.

[2022-10-19 05:14] #135 closed

[2022-10-19 20:25] Jacopo47 opened #206 "Should the limit parameter had a default value?"
I noticed that the default behavior is to return the whole table's records if the _limit_ parameter is not explicitly passed by the client.

Could it had negative impact?
Like for huge productions table it could return the whole table's content in memory if I'm not wrong.

My question so is: could be safer setting a default value to _limit_?
Of course if the client explicitly define the _limit_ va

[2022-10-20 09:30] mcollina commented on #206
I think we also should define a _maximum_ value.

How about:

* default `limit`: 10
* maximum `limit`: 100

[2022-10-20 13:56] mcollina commented on #206
Sure thing, go ahead!

[2022-10-20 16:24] ismajl-ramadani commented on #65
What is the intent here @mcollina?
We should document how to create a new API project right? Something like there https://oss.platformatic.dev/docs/getting-started/quick-start-guide

[2022-10-20 16:25] ismajl-ramadani commented on #65
If that's the case I can do a PR for that

[2022-10-20 21:55] #167 closed

[2022-10-21 07:01] mcollina commented on #65
exactly that!

[2022-10-21 09:11] marccremer opened #212 "Feature Request: Database Views"
It would be great if we could create views on our tables and get appropriate endpoints as readonly.

## example
[code]

This would create
[code]

[2022-10-23 13:11] ismajl-ramadani opened #217 "Error when loading the dashboard"
Following the command  to start the dashboard, it runs it at port http://127.0.0.1:5173/
[code]
then, after I open it on the browser I get this error "Uncaught (in promise) SyntaxError: Unexpected token '<', "<!DOCTYPE "... is not a valid JSON"

<img width="2048" alt="Screen Shot 2022-10-23 at 15 11 34" src="https://user-images.githubusercontent.com/18295983/197394213-0a79a1e4-bd70-4322-9865-ed97a

[2022-10-24 22:05] lomby92 commented on #217
As my first issue, I investigated a little about that error.

The error is in the `packages/db-dashboard/src/App.jsx` file:
[code]
In dev mode it tries to get the configuration from "http://localhost:5173/_admin/config" that doesn't work since there isn't an active platformatic project.

If you build the dashboard with `pnpm run dashboard:build` and then you try to access the demo (or my-demo) pro

[2022-10-25 13:29] ivan-tymoshenko opened #221 "Option to overwrite default route"
Let's say I have an entity in the DB and I want to have all default endpoints except one. `POST` request is the most popular use case. For this one, I want to have some additional custom logic. So it would be good to have an option that would allow me to override the default route with a custom route in the plugin.

[2022-10-25 13:33] ivan-tymoshenko opened #222 "Options to ignore openapi/graphql endpoints"
This can be useful in case when I want to have access to the db entity, but I don't want to expose it with endpoints.

[2022-10-25 21:00] ricfio commented on #33
Hi, I think that I could try to implement a new platformatic db command to generate a react-admin app to add inside the db-dashboard? What do you think about?
@mcollina

For example, this could be the command:
`platformatic db react-admin`

[2022-10-25 21:43] ricfio commented on #201
Hi @giacomocerquone. well done!
I also wanted to implement the ra-dataprovider for platformatic, but you are faster than me.

[2022-10-25 21:46] ricfio commented on #201
Hi @mcollina, I would like to execute this commands:
[code]

So I could quickly consume data the from the platformatic db interface (rest or graphql) implementing a react-admin app.

I hope that these packages will be published soon!
Who will be the mantainer? platformatic ? @giacomocerquone ?

[2022-10-26 09:40] ivan-tymoshenko opened #224 "Save new entity with primary key"
The `save` method checks if there is a primary key in the input fields. If there is a primary key, it updates the entity if not, it creates a new one. It's incorrect behavior because a primary key can be passed to create a new entity.

https://github.com/platformatic/platformatic/blob/490c9167cb69f505d32ff8a385141253d97c8aba/packages/sql-mapper/lib/entity.js#L69

[2022-10-26 09:50] mcollina commented on #224
This is a tradeoff of the current implementation and a deliberate choice. It assumes primary keys are managed and set by the server and not by the client - it's a best practice. This is the decision I made when making `save` an upsert-like operation.

[2022-10-26 09:57] ivan-tymoshenko commented on #224
We can use `IF EXISTS` or check it manually. It's super confusing right now. I think the cases when you have a primary key as a foreign key from another DB or just uuid from your business logic a pretty common.

Plus `insert` method works correctly.

[2022-10-26 10:07] mcollina commented on #224
What happens right now? It should _not_ be confusing.

---

Do you think it could be possible to implement it with `IF EXISTS` checks (or analog) on most of our supported databases? I'm worried about query round trip time when inserting/updating a large amount of data.

[2022-10-26 10:14] ivan-tymoshenko commented on #224
Nothing, you call the `save` method with a primary key in the inputs. It doesn't insert a new entity and returns undefined.

If I call the `save` method with a primary key, I already know all column values, so most people would not check the return value.

[2022-10-26 10:17] mcollina commented on #224
This is the reason why we should fix this.

[2022-10-26 13:56] mcollina opened #225 "Create guide/documentation for db-authorization"

[2022-10-26 16:00] kamikazechaser commented on #206
Some sort of pagination would need to complement the LIMIT. I personally prefer cursor based pagination as it is very performant but has a poor user experience.

[2022-10-26 17:54] mcollina commented on #33
I would completely skip the command and bundle it as part of db-dashboard. You can get the list of resources to display from the swagger definition.

[2022-10-26 17:55] ricfio commented on #33
@mcollina good... I was going to ask you exactly that.

[2022-10-26 18:00] giacomocerquone commented on #33
Agree

[2022-10-26 18:18] mcollina commented on #206
I see no problem in adding cursor based pagination. Would you like to open a fresh issue? We'd need an algorithm to encode/decode the cursor.

[2022-10-26 23:25] ricfio opened #228 "React is not defined (running dashboard development server)"
By running the dashboard development server:
`pnpm run dashboard:start`

I get "Uncaught ReferenceError: React is not defined" errors on my browser (see attachment)

![image](https://user-images.githubusercontent.com/69871782/198157171-f745ee3b-04e2-4d3b-b221-ba141a441076.png)

[2022-10-26 23:27] ricfio opened #229 "pnpm i: WARN  Issues with peer dependencies found"
I have some issues with `pnpm run dashboard:start` (see https://github.com/platformatic/platformatic/issues/228), so I have tried to clean my local installation executing some commands as documented in [CONTRIBUTING.md](https://github.com/platformatic/platformatic/blob/main/CONTRIBUTING.md):
[code]

but at the end I have got some warnings:
"WARN  Issues with peer dependencies found"

Below the ful

[2022-10-26 23:41] ricfio commented on #229
This issue occurs after removing of `pnpm-lock.yaml` file with:
`pnpm run cleanall`

So can be solved executing:
`git restore pnpm-lock.yaml`

**PS**
Is it a good idea remove `pnpm-lock.yaml` with `pnpm run cleanall`?

[2022-10-27 06:32] kamikazechaser commented on #206
Yeah sure I'll open one.

[2022-10-27 07:06] mcollina commented on #228
@leorossi could you take a look?

[2022-10-27 07:42] kamikazechaser opened #230 "Cursor based pagination for SQL queries"
Right now platformatic supports offset based pagination (#206) which starts falling off in performance with lots of records. Almost forming a linear growth when it comes to query execution time. Cursor based pagination is almost constant even with 100's of millions of records.

## Possible approach

The following are params that could be accepted from the API (say query string):

1. Direction of p

[2022-10-27 07:52] mcollina opened #231 "Add a markdown linter"
Use https://github.com/DavidAnson/markdownlint-cli2 like fastify.

[2022-10-27 07:53] leorossi commented on #228
Couldn't reproduce it on latest `main`. Can you please give some more infos?

Try to delete vite cache with `rm -rf node_modules/.vite`

[2022-10-27 08:07] mcollina commented on #230
This would be an amazing feature to have.

[2022-10-27 10:30] mcollina commented on #33
I think the best place is this monorepo in a new folder inside `packages/` Wdyt?

[2022-10-27 10:35] giacomocerquone commented on #33
Agree

[2022-10-27 10:46] ricfio commented on #33
I'm agree... in my local environment (to try to implement react-admin inside db-dashboard), I'm already doing in this way.

PS
... but I would suggest to use `ra-data-platformatic-db-rest` as name instead of `ra-data-platformatic-rest`.
@mcollina?

[2022-10-27 10:47] mcollina commented on #33
Does it need to follow a specific naming convention? Could `@platformatic/db-ra-rest` work?

[2022-10-27 10:49] giacomocerquone commented on #33
The first naming isn't correct. The plugin isn't just for db or for the dashboard.
It'll be for broader usages of front-end apps that use platformatic as a "provider".

Here you can find other names.
https://marmelab.com/react-admin/DataProviderList.html

@platformatic/ra-data-rest would be the prettier imho

[2022-10-27 10:53] giacomocerquone commented on #33
Ohw you probably were referring to "Platformatic-db" as a product... in that case yes, @platformatic/db-ra-data-rest is the better option

[2022-10-27 10:55] mcollina commented on #33
That was my idea!

[2022-10-27 15:37] mcollina opened #234 "Add subscriptions to movie quotes tutorial"
As a follow-up of #43 and #105, we should update the tutorial guide to also use our subscriptions.

[2022-10-27 16:38] ricfio commented on #228
Hi @leorossi,
here all my steps from scratch... Thank you!

[code]

[code]

![image](https://user-images.githubusercontent.com/69871782/198347881-1c82e399-ef80-433c-841b-df9559620ee3.png)

PS
I known that `docker compose up` is optional, but I execute it consider that was reported in CONTRIBUTING.md.
;

[2022-10-27 17:27] ricfio commented on #231
https://github.com/platformatic/platformatic/pull/226#issue-1424482012

[2022-10-27 19:01] mcollina commented on #231
oops

[2022-10-27 23:19] ricfio opened #236 "routes issue on dashboard pages (page refresh on browser fails)"
I have the db-dashboard loaded on my browser at this url:
- http://127.0.0.1:3042/dashboard

Now I can click on the left side menu to navigate cross the menu items, seeing on my browser url address these urls:
- http://127.0.0.1:3042/giql
- http://127.0.0.1:3042/config-view
- http://127.0.0.1:3042/swagger-docs
- http://127.0.0.1:3042/swagger-plt-db-docs

... well, if I click on 'page refresh' butt

[2022-10-28 07:33] leorossi commented on #228
Tried with a fresh `git clone`, but I couldn't reproduce.
Can you please click on `App.jsx` and send a screenshot of the source loaded?

[2022-10-28 07:35] leorossi commented on #217
Yes, it's a lack of documentation. You should tell the dashboard where the server is.

Create a `./packages/db-dashboard/.env` file with, for example
[code]
And that would work.

I am updating the docs and provide a sample `.env` file.

[2022-10-28 08:38] ricfio commented on #228
![image](https://user-images.githubusercontent.com/69871782/198543599-7746e86e-b9ed-4bdf-9b8b-93cc4b8739c2.png)

[2022-10-28 08:43] ricfio commented on #228
![image](https://user-images.githubusercontent.com/69871782/198544672-b450032d-7796-4052-a692-82cd0fc5bde5.png)
![image](https://user-images.githubusercontent.com/69871782/198544738-2fa4bcca-30c3-4fcb-9889-6731dbcb9479.png)

[2022-10-28 08:46] leorossi commented on #228
I guess adding `import React from 'react'` in `App.jsx` will fix the issue and/or move that same error on another component file...

[2022-10-28 08:51] ricfio commented on #228
oh yes!
.. but why do you not have the same issue?

![image](https://user-images.githubusercontent.com/69871782/198546277-568d61c6-a8a9-4b71-8537-cf2e2bd79ab2.png)

[2022-10-28 08:57] leorossi commented on #228
You didn't start platformatic db apparently (and/or not configured `VITE_SERVER_URL` in `.env` as in #217 )

[2022-10-28 09:06] ricfio commented on #228
Ok, done it... but there is an new issue after each step: 😅

![image](https://user-images.githubusercontent.com/69871782/198549464-0335a8cd-573c-48d8-bf15-8d06f83ebeed.png)

[2022-10-28 09:06] #217 closed

[2022-10-28 09:10] leorossi commented on #228
You should enable `cors` in platformatic db configuration to accept connection from `localhost:5173`

[2022-10-28 09:14] ismajl-ramadani commented on #217
@leorossi  That makes sense 👍

[2022-10-28 09:17] ricfio commented on #228
Oh thanks, I try it, but it's not a cors issue, I think:

![image](https://user-images.githubusercontent.com/69871782/198551855-6bbee975-274f-4fa3-aced-0f469b782aad.png)

![image](https://user-images.githubusercontent.com/69871782/198551929-58b5e34c-f576-4ae4-93cd-3f4599586998.png)

![image](https://user-images.githubusercontent.com/69871782/198551664-f19ce033-6d83-4453-bf44-977af788af85.png)

[2022-10-28 12:49] leorossi commented on #228
That is a good question, which I don't know the answer to! 😓 It happened already on another internal dashboard, while importing components from another repo. But it happened to everyone.

using `import React from 'react'` fixes it, but it's curious I don't have that issue. What version of node are you running?

[2022-10-28 12:49] leorossi commented on #228
That screenshot means to me that platformatic-db is not running.

[2022-10-28 12:52] leorossi commented on #236
That is a known issue. Basically you should always load the root endpoint, which loads the react application, which handles with `react-router` all the links in the dashboard.

If you reload, it's `fastify` that tries to resolve `/config-view` and don't even load the react application.

We could switch to [HashRouter](https://reactrouter.com/en/main/router-components/hash-router) which will genera

[2022-10-28 16:47] ricfio commented on #228
[code]

[2022-10-28 17:08] ricfio commented on #228
Hm...

Ok @leorossi ,
I think to have the solution... thanks to your tips!
😄

To solve it was necessary:
1) Add `import React from 'react'` on each jsx file that show "React is not defined" on the browser console
2) Start "platformatic db": `platformatic db start`
3) And only now, start the "dashboard development server": `pnpm run dashboard:start`

The missing starting of "Platformatic DB" on the

[2022-10-28 17:13] ricfio commented on #228
Could be that with production build we run main.jsx (that already include in its header `import React from 'react'`) while from the dashboard development server" main.jsx is bypassed?
:confused:

[2022-10-28 18:09] ricfio commented on #33
see also the PR https://github.com/platformatic/platformatic/pull/239, please

[2022-10-29 07:53] mcollina commented on #201
@giacomocerquone @ricfio why don't you both join the #platformatic-db-dashboard channel on our discord?

[2022-10-29 08:02] giacomocerquone commented on #201
Yes, good idea, so that we can sync a bit better 🙂

[2022-10-29 08:10] ricfio commented on #201
Sure!
Now, we are both on the channel.
😄

[2022-10-29 10:34] mcollina opened #240 "Make sure the CI in the readme point to the main branch"
We should display only the status of the main branch!

https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge#using-the-branch-parameter

[2022-10-29 10:46] vaishnav-mk commented on #240
Doesn't it point to the default branch by default?

[2022-10-29 14:57] mcollina commented on #240
I don't think so.

[2022-10-29 15:07] vaishnav-mk commented on #240
oh, it seems like it does
![image](https://user-images.githubusercontent.com/84540554/198838884-e09667ac-345c-431b-a3b4-576ec5b46c05.png)

[2022-10-29 16:55] giacomocerquone opened #242 "Is it possible to reduce commit time?"
I'm on a 2020 MacBook i5 with 16GB of RAM and, with docker opened, it takes approximately 10 minutes to commit.
Do you think we could reduce it? This would also ease the contributions process.

On top of my mind, the first suggestion is to run tests in the packages involved through the staged files.
To do so, I generally use monorepo tools such as Nx, Lerna, or Turborepo but maybe pnpm has also a

[2022-10-29 17:00] giacomocerquone opened #244 "Should we add a linter specific to the monorepo?"
Hey there, I'm very used to having linters on my projects and I've seen here that a couple of dependencies of some packages of this monorepo, have their own linting rules, but the monorepo itself doesn't.

Should we add it?

[2022-10-29 19:22] mcollina commented on #240
thx!

[2022-10-29 19:22] #240 closed

[2022-10-30 08:15] mcollina commented on #242
I’m actually keen in disabling the commit hook entirely. We have a good set of tests that run in CI that will provide better coverage than the pre-commit hook.

Case in point: I almost always commit with `-n` which will skip the hook.

[2022-10-30 08:15] mcollina commented on #242
Cc @ivan-tymoshenko @marcopiraccini @leorossi

[2022-10-30 08:21] mcollina commented on #244
The general rule for tis repo is: use `standard`.

I really care about making the individual packages self-sustaining, so I tend to minimize the number of shared scripts.

[2022-10-30 08:26] giacomocerquone commented on #242
Ouch thought wasn't a fair play disabling it then.
I'd remove it then

[2022-10-30 08:32] ivan-tymoshenko commented on #242
I never run all packages tests when before creating a commit. I would leave the linter check in the commit hook and remove the tests running before we make them run in parallel.

[2022-10-30 09:23] giacomocerquone commented on #244
Got it, thanks 🙏

[2022-10-30 09:23] #244 closed

[2022-10-31 14:51] giacomocerquone opened #248 "Do we want to use commitlint to lint commits?"
I'm observing that some of you are defining the scope in their commits, some not, and others are not even using "fix, feat, chore" etc.

Do we want to use something like commitlint or do you prefer to leave it be?

[2022-10-31 15:55] #183 closed

[2022-10-31 16:10] giacomocerquone opened #249 "We should provide an updateMany functionality"
Following https://github.com/platformatic/platformatic/pull/243#discussion_r1009581248

we should provide a way to update multiple entities in one shot.

[2022-10-31 16:12] giacomocerquone opened #250 "We should state in the documentation that gql supports multiple entity deletion"
Following https://github.com/platformatic/platformatic/pull/243#discussion_r1009582271

we should state in the documentation that deleting multiple entities, is not supported in openapi but it is in gql

[2022-10-31 16:42] mcollina commented on #250
We could also add it to OpenAPI!

[2022-10-31 16:57] mcollina commented on #248
I'm not a fan of the tool, so I would say no unless there is an overwhelming majority of having it in place.

[2022-10-31 17:25] #248 closed

[2022-10-31 17:26] #201 closed

[2022-11-02 09:17] #43 closed

[2022-11-02 13:42] #15 closed

[2022-11-03 08:48] leorossi commented on #228
We had this problem in another internal project, and solved with the explicit import.

Problem is: I still don't have this on this dashboard and that's a mystery. I am running Node `v18` but I don't think that's it.

Anyway soon we'll migrate very soon to a dashboard built with `@platformatic/ui-components` and problem will be solved, hopefully :)

[2022-11-03 08:54] leorossi opened #257 "Use `@platformatic/ui-components` to build `db-dashboard`"
This will fix #236 and #228

[2022-11-03 11:25] marcopiraccini opened #258 "Support both JWT and webhook at the same time"
Currently, we can configure JWT OR webhook.
We should be able to configure both, and use the correct one according with the fact that a JWT token is presented or not (in this case we fallback to webhook).

[2022-11-03 11:37] marcopiraccini opened #259 "Use the FK column names in nested routes"
Currently, if we have:
[code]
We generate `GET /entities/{id}/entity`
We should calculate the relation name from the FK column instead, e.g.: `GET  /entities/{id}/parent`

[2022-11-03 12:14] mcollina commented on #258
I'll get this done asap

[2022-11-03 13:04] jellydn opened #260 "Out of memory with VM 256 MB on fly.io"
**Context**
- I'm working on [starter](https://github.com/jellydn/platformatic-starter). Everything works well except I got `Out of memory` with VM 256 MB on fly.io

[code]

![image](https://user-images.githubusercontent.com/870029/199727177-80e8b10c-fe6c-4ae4-bd8c-4a9dcf4f6df8.png)

![image](https://user-images.githubusercontent.com/870029/199727224-71ed1614-4abf-4f20-aeed-eb018d4bdfa1.png)

I tr

[2022-11-03 13:06] ivan-tymoshenko commented on #260
Hi, thank you for the report. I will take a look ASAP.
Do you use typescript in your application?

[2022-11-03 13:10] jellydn commented on #260
Thanks, @ivan-tymoshenko for your quick response.

Yes, I did. You could reproduce by follow this deployment step on readme file https://github.com/jellydn/fastify-starter#deployment

[2022-11-03 13:27] ivan-tymoshenko commented on #260
@jellydn Can you please precompile ts code with `platformatic db compile` command, then disable the typescript config option and set plugin path config options directly to your js plugin in the `dist` folder? And chack if it makes any difference.

[2022-11-03 13:49] jellydn commented on #260
That's exactly what @mcollina suggested me https://discord.com/channels/1011258196905689118/1011258204371554307/1037446741680726046 I already tried that option. I also mentioned about it on the issue.

[2022-11-03 14:21] jellydn commented on #260
Thanks very much, @ivan-tymoshenko It works after this change
https://github.com/jellydn/platformatic-starter/commit/1ea44b908277b5a3b7d0d2176f126fc6e2818725

<img width="1411" alt="image" src="https://user-images.githubusercontent.com/870029/199745303-8a120381-2057-4e5e-b53a-698c4812a883.png">

Just summary:
 - Setup docker file https://github.com/jellydn/platformatic-starter/commit/1ea44b908277b

[2022-11-03 17:57] ricfio commented on #229
I still have this problem, but I also seen that with a second execution of `pnpm i` I have no warnings
... however I think that the last behaviour could be due to caching.

[2022-11-03 22:27] mcollina commented on #229
Everything works, don't worry too much about this.

[2022-11-04 08:49] #258 closed

[2022-11-04 12:05] #259 closed

[2022-11-04 15:13] mcollina opened #265 "Docs for db-ra-data-rest"
I've noticed that we did not ship any README or docs for `@platformatic/db-ra-data-rest`. We should correct this asap!

[2022-11-04 15:13] mcollina commented on #265
cc @giacomocerquone @ricfio

[2022-11-04 15:15] giacomocerquone commented on #265
ouch true! let me handle this.
Any particular relevant things you think I should mention?

[2022-11-04 17:31] ricfio commented on #265
I remember also this:
https://github.com/platformatic/platformatic/issues/33#issuecomment-1272358667

[2022-11-05 09:47] ricfio opened #267 "Propose random port when EADDRINUSE occurs on start"
I would like choice interactively another port (proposed in a predefined range) when EADDRINUSE error occurs.
Could it be an issue for fastify?

`platformatic db start`

[code]

[2022-11-05 10:39] ricfio opened #268 "config.plugin undefined executing `platformatic db migrate`"
[code]

Here my `platformatic.db.json`:
[code]

[2022-11-05 11:05] ivan-tymoshenko commented on #268
There should be
[code]

[2022-11-05 11:08] ricfio commented on #268
Yes, I think too... I opened the issue also beacause tests are green

[2022-11-05 11:10] ivan-tymoshenko commented on #268
Probably there is no test for this case. PR is welcome)

[2022-11-05 13:47] ricfio opened #270 "Can't resolve '@platformatic/db-ra-data-rest'"
In have a project based on react-admin, and I have installed @platformatic/db-ra-data-rest as dependency with command:
`yarn add @platformatic/db-ra-data-rest`

Starting the project with `yarn start` this error occurs on my browser:
[code]

This is the content of the `dataProvider.js` file:
[code]

I have seen that the issue can be solved changing the import as follow:
[code]

So my questions are:

[2022-11-05 13:48] ricfio commented on #270
cc @mcollina @giacomocerquone

[2022-11-05 17:21] giacomocerquone commented on #270
Thanks for pointing this out.

1. No index is needed
2. No, you shouldn't build anything
3. Actually I forgot to add a .npmignore file indeed. Since if npm doesn't find one, then .gitignore is used.

I'm about to push it altogether with the README

[2022-11-05 17:22] giacomocerquone commented on #265
Regarding this, I would propose to add it to the react-admin documentation once we also have the graphql provider too!

[2022-11-05 18:41] #265 closed

[2022-11-06 06:53] #268 closed

[2022-11-06 07:42] ricfio commented on #270
@giacomocerquone (cc @mcollina)
I don't understand how your PR https://github.com/platformatic/platformatic/pull/272 solves this issue. 😕

Ok, you have added .npmignore to skip .gitignore, but have you forgot to build the package and add dist folder in the repo?

[2022-11-06 09:17] giacomocerquone commented on #270
The dist folder should not be in the repo. When the package will be released, a build phase is triggered before the release phase and so npm will have the right files to provide to developers

[2022-11-06 09:24] ricfio commented on #270
ok thanks, so in a project external to platformatic, after the package installation:

[code]

Will I can import the package without build issue?
[code]

[2022-11-06 09:26] giacomocerquone commented on #270
Yes, you just need to wait a new release of the package

Cc @mcollina

[2022-11-06 09:30] ricfio commented on #270
Ok @giacomocerquone, thanks for the clarification.

[2022-11-06 09:31] mcollina commented on #270
I'll ship whenever I can, likely tonight/tomorrow.

[2022-11-06 09:35] ricfio commented on #270
Thanks @mcollina, no rush for me... I can wait next release when planned by you.
I just asked to understand.

[2022-11-06 20:31] ricfio opened #273 "query with `field is null` in the where clause"
How can I express in a where clause a sql condition such as `field is null` ?

I have found nothing here:
https://oss.platformatic.dev/docs/reference/sql-rest/api/#where-clause
https://oss.platformatic.dev/docs/reference/sql-mapper/entities/api#where-clause

[2022-11-06 22:21] mcollina opened #274 "Layered configuration schemas"
We  might want to think about layered config schemas:

1. platformatic service config schema
2. platformatic db config schema
3. your application config schema

[2022-11-07 08:28] marcopiraccini commented on #274
I agree, but do we want the application config schema to be mandatory?
I mean, I think we should have a schema extension point, but IMO shouldn't be mandatory to have a schema (even if we should recommend it).

[2022-11-07 13:21] mcollina commented on #228
@leorossi can this be closed?

[2022-11-07 23:02] ricfio commented on #231
@mcollina
I think that this issue could be closed.

[2022-11-07 23:09] #231 closed

[2022-11-07 23:09] mcollina commented on #270
I released v0.5.1.

[2022-11-07 23:36] mcollina commented on #273
Fixed in https://github.com/platformatic/platformatic/pull/278

[2022-11-08 00:11] ricfio commented on #270
I have updated @platformatic/db-ra-data-rest to 0.5.1 in my project but the issue are not been still solved:

In my package.json:
[code]

[code]

This is the content of the dataProvider.js file:
[code]

I have to change import as follow to make it works:
[code]

[2022-11-08 00:47] giacomocerquone commented on #270
it's always because there is no build within the downloaded npm package
![image](https://user-images.githubusercontent.com/9303791/200446596-53e4370d-ae4f-41de-bc91-1168139416d6.png)

I wonder why though 🤔

[2022-11-08 06:21] mcollina commented on #270
It needs a prepublish script

[2022-11-08 06:50] mcollina opened #281 "Wrong package name in docs (sql-rest)"
In our docs, we have SQL-REST package, however it should be SQL-OpenAPI.

![image](https://user-images.githubusercontent.com/52195/200494421-7bb0f2cb-31ee-4ebe-9f43-3d4ac8115200.png)

[2022-11-08 09:39] #273 closed

[2022-11-08 10:29] ivan-tymoshenko opened #282 "Use both prompt instead and CLI flags for the init command"

[2022-11-08 10:30] ivan-tymoshenko opened #283 "Config watching fails with platformatic service start command"

[2022-11-08 10:31] ivan-tymoshenko opened #284 "Add init command for platformatic service"

[2022-11-08 10:32] ivan-tymoshenko opened #285 "Platformatic service doesn't have root welcome page"
@mcollina I think it should have it. WDYT?

[2022-11-08 10:46] mcollina commented on #285
It should

[2022-11-08 10:47] mcollina commented on #283
It's working on my project, what's broken?

[2022-11-08 10:50] ivan-tymoshenko commented on #283
<img width="1125" alt="Снимок экрана 2022-11-08 в 12 50 06" src="https://user-images.githubusercontent.com/31734731/200545676-0419dd88-ab33-4c3e-9d28-d11c61e1d235.png">

[2022-11-08 10:52] ivan-tymoshenko commented on #283
I guess it happens if it creates a new application instance it doesn't add the `current` config property.

[2022-11-08 10:54] ivan-tymoshenko commented on #283
Make sure that you should make changes in the config file and not in other files. There are two different watchers with two different handlers.

[2022-11-09 05:52] iamkennis commented on #33
Hello, please I need help how go forward,I have clone and setup the dashboard-db, but the only thing showing in my browser is
 "Dashboard is loading"

[2022-11-09 06:57] sabberworm opened #292 "Read possible values on enum columns and put them into the schema"
Both OpenAPI and GraphQL support enum types but platformatic currently uses strings to represent enum columns (at least for MariaDB).

Validation will happen on insertion but there’s no way to compile-time check whether the values used on enum fields will be valid.

[2022-11-09 07:10] ricfio commented on #33
Hi, you could have some errors in browser console... see there.

[2022-11-09 07:20] mcollina commented on #292
This would be an amazing feature to add! Our team is currently a bit busy building something new (ssshhh). We will get to it as soon as we can, otherwise we'll also be very happy to review a pull request!

[2022-11-09 11:47] marcopiraccini opened #294 "Webhook validation throws if the body is undefined"
If a request has no body, thie webhook validation throws here:
https://github.com/platformatic/platformatic/blob/main/packages/db-authorization/lib/webhook.js#L26

[2022-11-09 12:40] #294 closed

[2022-11-09 13:31] marcopiraccini opened #297 "Amend webhook documentation about returned user metadata"
[Our documentation about webhook integration](https://oss.platformatic.dev/docs/reference/db/authorization/introduction#webhook) says that user metadata are returned in headers, but [we are actually returning them in body ](https://github.com/platformatic/platformatic/blob/main/packages/db-authorization/lib/webhook.js#L38)

We should fix this in docs

[2022-11-09 15:57] rozzilla opened #298 "Provide a logging message if there are no table in the current schema"
Hello there! 👋🏼 😊

It'd be extremely helpful to have specific documentation for both PostgreSQL and MySQL, f.e. regarding the currently supported SQL commands.

Related to that, I tried to connect to a local PostgreSQL database creating a new schema. The table was correctly created, but on GraphQL/OpenAPI side it wasn't possible to find it. It'd be nice to catch this issue, so a schema on the migr

[2022-11-09 16:33] #283 closed

[2022-11-09 17:40] mcollina commented on #298
Can you include the schema/migrations you are using? Maybe create a repo and upload your file there?

[2022-11-09 17:44] rozzilla commented on #298
Sure @mcollina 😉 [Here we go](https://github.com/rozzilla/poc-platformatic/tree/master)

[2022-11-09 17:54] rozzilla commented on #298
To add a bit of context, that's the table (correctly created):
![image](https://user-images.githubusercontent.com/3996291/200904263-04befafe-4188-41ad-8bc6-655ac5013350.png)

That's instead OpenAPI:
![image](https://user-images.githubusercontent.com/3996291/200904314-070a2546-afb4-40de-88ae-87721ea539a2.png)

... and GraphQL:
![image](https://user-images.githubusercontent.com/3996291/200904344-ca2

[2022-11-09 18:00] mcollina commented on #298
If I change the migration to:

[code]

Everything works correctly.

So I guess the `CREATE SCHEMA` and `"standard_file_exports"."platformatic_test"` is not recognized by platformatic db.

[code]

[2022-11-09 18:01] mcollina commented on #298
I guess the schema in the connection string is not `standard_file_exports`, right?

[2022-11-09 18:02] mcollina commented on #298
We also don't support composite primary keys.

[2022-11-09 18:04] mcollina opened #299 "Composite primary keys"
We should support primary keys composed of multiple columns.

---

I'm not sure how often this is used in production but I like to use composite keys for junction tables. Some SQL to demonstrate:
[code]

This seems to be a pretty broad change in sql-mapper, affecting how data is returned from inserts and updates, as well as erroring out in some situations (sqlite).

I think these are all the areas

[2022-11-09 18:05] mcollina opened #300 "Support for JSONB fields in PostgreSQL"
also check other kind of JSON support in the other DBs.

[2022-11-09 18:07] rozzilla commented on #298
Good to know! Thank you :)

As I mentioned, it'd be super useful to have this kind of feedback errors directly on the shell, otherwise (in a more complex situation) debugging can become hard.

[2022-11-09 18:08] mcollina commented on #298
We should definitely provide better errors for these cases.

[2022-11-09 19:55] ivan-tymoshenko opened #302 "Entity event fails on insert"
err: {
      "type": "Error",
      "message": "The object that will be published is required under the data property",
      "stack":
          Error: The object that will be published is required under the data property
              at entity.getPublishTopic (/Users/ivan-tymoshenko/projects/platformatic/platformatic/packages/sql-events/index.js:80:15)
              at /Users/ivan-tymoshenko/pro

[2022-11-09 20:07] mcollina commented on #302
How to repro?

[2022-11-09 20:09] ivan-tymoshenko commented on #302
I'm investigation. It happens when db `insert` query returns an empty array here.
https://github.com/platformatic/platformatic/blob/03857a59e0748ed144ed2145b3aba9a898b51449/packages/sql-mapper/lib/queries/sqlite.js#L107

[2022-11-09 20:19] ivan-tymoshenko commented on #302
@mcollina It happens because it doesn't check for a primary key and reassign it here.
https://github.com/platformatic/platformatic/blob/03857a59e0748ed144ed2145b3aba9a898b51449/packages/sql-mapper/lib/queries/sqlite.js#L83

[2022-11-10 12:10] rozzilla opened #305 "Unable to set logger level"
Hey team 👋🏼
Following [the guideline](https://oss.platformatic.dev/docs/reference/db/configuration#example), if I try to set the logger level on the config file, I get this error:
[code]

example of the config JSON:
[code]

I tried both using/not using an environment variable, changing the level to `info`, and moving this section to the root config, but still get the error. Removing this part, mak

[2022-11-10 12:19] rozzilla opened #306 "Customise the timeout"
Hey, it's me again! 😬

When I open a DB with a lot of tables and data, I get this error:
[code]

If I manually edit `node_modules/avvio/plugin.js` commenting this part, the script works:
[code]

Is there a way to customise/remove the timeout limit? 😊

[2022-11-10 13:13] rozzilla commented on #305
I confirm. Added a [PR here](https://github.com/platformatic/oss/pull/40). Please have a look 🙏🏼 👀

[2022-11-10 17:32] vtyagunov opened #317 "Roles And User Information section does not exist"
The [Introduction to Authentication & Authorization](https://github.com/platformatic/oss/blob/main/versioned_docs/version-0.6.1/reference/db/authorization/introduction.md) page has an anchor link `Roles And User Information` that points to nowhere.

Here is the link
https://github.com/platformatic/oss/blob/main/versioned_docs/version-0.6.1/reference/db/authorization/introduction.md#roles-and-user-

[2022-11-10 18:37] simonplend opened #307 "Validate authorization configuration rules"
It's easy to make a typo e.g. `users` as the `entity` name instead of `user`. Platformatic DB should validate the authorization rules and throw an error if an entity doesn't exist. There might be some other validation improvements that can also be made for the authorization rules.

[2022-11-10 19:02] #33 closed

[2022-11-10 20:38] mcollina opened #308 "Implement many to many relationships"
Here is an example on how AWS implements it: https://docs.amplify.aws/cli/graphql/data-modeling/#many-to-many-relationship

We should be able to auto detect a  join table or accept it a a config.

[2022-11-10 22:54] ricfio commented on #33
Hi @iamkennis
This PR https://github.com/platformatic/platformatic/pull/309 could solve your problem.
Let me know please!

[2022-11-11 06:51] #292 closed

[2022-11-11 06:52] #228 closed

[2022-11-11 08:15] iamkennis commented on #33
Okay,I will check it out

[2022-11-11 10:40] marcopiraccini opened #311 "Document how to leverage webhook/jwt in custom plugins"
This is currently undocumented, but it's pretty straightforward.

[2022-11-11 13:29] mcollina opened #315 "rename docs/reference/sql-rest to docs/reference/sql-openapi"
As titled

[2022-11-11 14:35] rozzilla commented on #305
I'll open a PR on Platformatic repo.

[2022-11-11 14:46] marcopiraccini commented on #306
Platformatic uses Fastify, which uses `avvio` for the plugins.
So, if we want an higher timeout we need to pass it as option when adding the plugin.

[2022-11-11 14:49] mcollina commented on #306
Fastify has a config option for this. We should just re-expose it.

[2022-11-11 14:49] #305 closed

[2022-11-11 14:52] mcollina commented on #317
Thanks for reporting! We'll add the docs. I've moved this issue to the platformatic repo.

[2022-11-11 14:57] mcollina commented on #267
Thanks for reporting. I don't think we should use a random port if the current one is in use. The user would expect that specific server on that port, not the one that was already occupying it.

[2022-11-11 14:57] #267 closed

[2022-11-11 15:00] mcollina commented on #260
We should document how to disable typescript compilation for production.

[2022-11-11 16:10] rozzilla opened #319 "Assert "column with id reference must be ended with""
Hey hey 👋🏼
There is a specific business logic reason behind [this assert](https://github.com/platformatic/platformatic/blob/main/packages/sql-graphql/lib/relationship.js#L19) and the usage of `cutOutIdEnding`?

Can this rule become optional? It can be a bit too restrictive if we want to connect to a DB built this way...

[2022-11-11 16:45] mcollina commented on #319
Not really, it's a corner we cut. This can be easily fixed, but likely the fix in a few more places.

[2022-11-11 17:04] rozzilla commented on #319
Thank you for the feedback @mcollina! 🙏🏼

Same thing for the assert regarding the primary key.

It'd be super to have the options config to disable that kind of constraints because in a situation like that:
[code]
PlatformaticDB will fail with a `Cannot find primary key for TableName entity`.

[2022-11-11 17:14] mcollina commented on #319
Sure thing.

[2022-11-12 09:30] alexfernandez opened #323 "Error 500: "fields is not iterable""
Running Platformatic 0.6.1. I am trying to set up authorization with [a `fields` attribute](https://oss.platformatic.dev/docs/reference/db/configuration#fields). Using an entity `price`:

[code]

I get the following response to [a simple request](http://localhost:3042/prices/):

[code]

The full stack trace:

[code]

I am not sure of what is wrong since the entity `price` exists: without the `fiel

[2022-11-12 09:57] mcollina commented on #323
we'll take a look!

[2022-11-12 14:25] Abdullah0sama commented on #323
I think that is because the case where no fields specified in the request is not handled cause that would make fields be `undefined`.
It would work fine for example if `http://localhost:3042/prices?fields=key&fields=hs`

[2022-11-12 17:29] #323 closed

[2022-11-13 10:54] ricfio commented on #267
Ok, I understand.
I have opened this issue because it occurs when you have two platformatic projects running.

[2022-11-13 13:05] ricfio commented on #302
I confirm this issue. It occurs also in a my use case.

[2022-11-13 20:52] #307 closed

[2022-11-13 20:53] mcollina commented on #302
Could you post a quick schema to repro? Should be an easy fix if you'd like to contribute.

[2022-11-14 14:31] ivan-tymoshenko opened #328 "Webhook auth fails without body + content-type header"
Related to the https://github.com/platformatic/platformatic/issues/294

[code]

[2022-11-14 14:35] ivan-tymoshenko opened #329 "Webhook auth fails without accept-encoding header"
It fails [here](https://github.com/platformatic/platformatic/blob/ea1108e31510f6f1a765e88840553aba0f667da9/packages/db-authorization/lib/webhook.js#L40), bc webhook request returns gzip payload. It works with `Accept-Encoding:*`.

[2022-11-14 14:58] #249 closed

[2022-11-15 05:29] marcopiraccini commented on #328
The webhook is called (with a `POST`) copying the headers and the body of the original request [here](https://github.com/platformatic/platformatic/blob/main/packages/db-authorization/lib/webhook.js#L29)
So if the original request has `'application/json'` content type and no body, also the webhook call will be the same.
@ivan-tymoshenko Correct me if I am wrong: the HTTP/400 error in this case (con

[2022-11-15 09:39] ivan-tymoshenko commented on #328
The problem is that it doesn't even show you an error. Webhook auth fails, so it uses an anonymous role.

[2022-11-15 12:24] leorossi opened #335 "Re-enable test skipped in PR #330"
Rel: https://github.com/platformatic/platformatic/pull/330

[2022-11-15 15:47] mcollina opened #339 "Install route catchall for dashboard pages"
In the dashboard we change the URL when individual pages are selected. However the backend is not configured to serve the file.

[2022-11-15 16:54] marcopiraccini opened #341 "Metrics in the dashboard should refresh automatically"
Currently, to see updated metrics, you need to reload the page.
We should have an automatic refresh

[2022-11-16 06:17] marcelom97 commented on #281
Is this bug related to #342?

[2022-11-16 07:54] #339 closed

[2022-11-16 13:41] mcollina commented on #281
same thing. thanks!

[2022-11-16 13:42] #281 closed

[2022-11-16 14:15] mcollina opened #345 "Automatically skip auth if ctx is not set."

[2022-11-16 14:24] kgajera opened #346 "Dashboard table view is using plural entity name resulting in 404 errors"
The table view uses the plural version of the entity name (for example, `/users`): https://github.com/platformatic/platformatic/blob/main/packages/db-dashboard/src/pages/ReactAdmin.jsx#L84

The Open API is using singular (for example, `/user`).

[2022-11-16 14:34] marcopiraccini commented on #345
Why do we need this?  I mean, if we want to skip auth programmatically, we already have the way: https://oss.platformatic.dev/docs/reference/db/authorization/introduction#programmatically-skip-authorization-rules

[2022-11-16 14:35] #302 closed

[2022-11-16 14:35] ivan-tymoshenko commented on #345
I would make skipAuth true by default for all plugin requests.

[2022-11-16 14:36] mcollina commented on #345
This is essentially what this would do.

[2022-11-16 14:38] #341 closed

[2022-11-16 14:39] mcollina commented on #346
Thanks for reporting!

[2022-11-16 14:42] mcollina opened #347 "Add filtering / search in Table View"
These seem useful components

https://marmelab.com/react-admin/FilterList.html

https://marmelab.com/react-admin/FilterLiveSearch.html

https://github.com/platformatic/platformatic/issues/348 might be needed as a prerequisite.

[2022-11-16 14:43] mcollina commented on #347
@ricfio this might be something you want to contribute.

[2022-11-16 14:44] mcollina opened #348 "Add support for LIKE in the where conditions of sql-mapper, sql-openapi, sql-graphql"
As an example, here is the relevant documentation for MySQL

https://dev.mysql.com/doc/mysql-tutorial-excerpt/5.7/en/pattern-matching.html#:~:text=SQL%20pattern%20matching%20enables%20you,when%20you%20use%20SQL%20patterns.

[2022-11-16 14:59] mcollina commented on #346
Can you clarify? I see them in plural at:

<img width="307" alt="Screenshot 2022-11-16 at 14 58 55" src="https://user-images.githubusercontent.com/52195/202215388-7b0d8f86-627b-4cee-9492-0fac769e7ad1.png">

[2022-11-16 15:11] mcollina commented on #87
This is done.

[2022-11-16 15:11] #87 closed

[2022-11-16 17:01] marcelom97 commented on #348
Interesting
I would like to give it a try!

[2022-11-16 17:14] mcollina commented on #348
Go for it!

[2022-11-16 17:15] marcelom97 commented on #348
Great thanks!!

[2022-11-16 17:17] mcollina commented on #346
Oooh, then it makes total sense! Would you like to send a PR to fix this?

[2022-11-16 17:20] #257 closed

[2022-11-16 17:20] mcollina commented on #236
Fixed in v0.7.0

[2022-11-16 17:20] #236 closed

[2022-11-17 07:35] mcollina opened #354 "Add support for multiple plugins/directories with @fastify/autoload"
As titled

[2022-11-17 09:02] #306 closed

[2022-11-17 09:02] #298 closed

[2022-11-17 12:13] #300 closed

[2022-11-17 12:15] #142 closed

[2022-11-17 21:58] simonplend opened #355 "Document requirement to add docs to Docusaurus sidebar"
Add a 'Documenation' section to the [CONTRIBUTING.md](https://github.com/platformatic/platformatic/blob/main/CONTRIBUTING.md).

[2022-11-17 22:02] #315 closed

[2022-11-17 22:42] mcollina opened #356 "Support postgresql schema"
https://www.postgresql.org/docs/current/ddl-schemas.html#DDL-SCHEMAS-CREATE

[2022-11-18 05:11] marcopiraccini commented on #356
Currently, [we are using the "current _schema()"](https://github.com/platformatic/platformatic/blob/main/packages/sql-mapper/lib/queries/pg.js#L29).
`current_schema` returns the name of the schema in front of the search_path (see [here](https://www.postgresql.org/docs/current/ddl-schemas.html#DDL-SCHEMAS-PATH) for info about the search paths) that can be changes using DDL.

So IMO we can do this i

[2022-11-18 09:52] mcollina commented on #355
Can we avoid

altogether? Can we get that data from this repo instead?

[2022-11-18 10:05] mcollina commented on #356
I would do:

I _hope_ we could get it done by supporting `postgresql://localhost:5432/mydatabase?currentSchema=myschema` and similar for all dbs.

[2022-11-18 13:46] simonplend commented on #355
@mcollina If we want to be continue curating the categories, titles and ordering effectively, I don't think so. I'll investigate if we can do it differently though.

[2022-11-18 18:10] ricfio commented on #347
Hi @mcollina, maybe, I could do that.
... but have you thought about how to dynamically populate these tags/properties?

What criteria would you recommend to use?

- Which fields could I select to add FilterListItem tag (see [FilterList](https://marmelab.com/react-admin/FilterList.html)) ?
- What field could I choose to set the FilterLiveSearch source property (see [FilterLiveSearch](https://marme

[2022-11-18 18:39] ricfio commented on #347
We could collect some ideas here:
- boolean field => `<FilterListItem>` with Yes/No

[2022-11-19 08:40] mcollina opened #362 "Support multiple schemas in MySQL/MariaDB"
Apparently, [there are some JDBC drivers](https://jdbc.postgresql.org/documentation/use/) that allows to specify `currentSchema` e.g. `jdbc:postgresql://localhost:5432/tst?currentSchema=app1,public` but obviously we cannot leverage that.

It's possible to support other DBs (MySQLs / Maria) with the same config, but I don't think we can use the "unqualified" names like we do in Postgres for tables

[2022-11-19 08:40] #356 closed

[2022-11-20 14:26] mcollina commented on #347
I think the most important one to be able to search is the primary key.

[2022-11-20 19:18] #348 closed

[2022-11-21 07:41] ricfio commented on #347
Ok, but how I should detect the primary key from the Swagger?
http://localhost:3042/documentation/json

At this moment in the json I see only entities with:
- title
- description
- type
- properties (with fields and their type)
- required (list of the required fields)

So, for each entity field I see only the `type` and if it is `required` but no other information.

[2022-11-21 11:45] ivan-tymoshenko opened #367 "npm ci fails with platformatic v0.7.0"
It fails even if platformatic is the only dependency.

<img width="609" alt="Снимок экрана 2022-11-21 в 13 43 06" src="https://user-images.githubusercontent.com/31734731/203043104-0e83ebce-2a89-4a0a-8401-4107e584515a.png">

https://github.com/platformatic/compendium/actions/runs/3497942270/jobs/5857678437

[2022-11-21 12:51] hatemjaber opened #368 "Show Query Log In Terminal"
I went through the entire docs and didn't see how to log queries in the terminal to see what they look like. I was curious if the GQL queries are using dataloader under the hood and if there were any n+1 going on. As far as I can see, there is no setting for query logging or debugging from what I can tell.

[2022-11-21 12:52] hatemjaber opened #369 "Full List of Config Options"
I know this is a fairly new project... Is there a complete list of options for the config file?

[2022-11-21 13:10] hatemjaber opened #370 "Support multiline env vars in the config for private/public keys"
Looking at the fastify-jwt options, I thought this was configured correctly:

[code]

I assumed this is what is needed in order to use an RSA key pair. Is there an example of how to do this?

[2022-11-21 13:15] ivan-tymoshenko commented on #370
Hi, you can use env variables in your config. So you can put your secret in an encrypted vault and specify the environment variable.

[code]

[2022-11-21 13:30] hatemjaber commented on #370
I tried the following:

[code]

[code]
getting the following error:

[code]

[2022-11-21 13:34] ivan-tymoshenko commented on #370
Hmm, can you encode them to the base64 and check if it works?

[2022-11-21 13:35] ivan-tymoshenko commented on #370
Anyway, IMHO it should work.

[2022-11-21 13:42] #345 closed

[2022-11-21 13:45] mcollina opened #371 "db-dashboard: move build dependencies to devDependencies"
The following dependencies are only used in development:

https://github.com/platformatic/platformatic/blob/f0eb030362ad1fcfdafe751d13a68fed5ec68475/packages/db-dashboard/package.json#L28

[2022-11-21 13:47] mcollina commented on #368
There is. Just set the log level to `trace` and you'll see all the queries logged.
Just to answer your question: there is no n+1 query happening and if you find one we'll treat it like a bug.

[2022-11-21 13:48] hatemjaber commented on #370
I encoded the keys to base64 and get the following:

[code]

I don't think it's setup to take the options the same way that fastify-jwt takes them.

[2022-11-21 13:48] mcollina commented on #367
I think you should just remove your lock file and regenerate:

[code]

[2022-11-21 13:49] mcollina opened #372 "remove deprecated dependencies"
Currently we have a few deprecated deep dependencies:

[code]

We should investigate where these come from and drop them.

[2022-11-21 13:52] hatemjaber commented on #368
Awesome, thank you very much!

[2022-11-21 17:35] mcollina opened #375 "Remove duplicated docs"
There are a few doc pages that are duplicated between `platformatic db` and `platformatic service`, we should remove the duplication to avoid the work of keeping them in sync as the code is the same.

[2022-11-21 21:26] rdev32 opened #377 "brief question, any plans to support other platforms?"
love the idea but this only works on nodejs (as far as i understand) do you have any plans on supporting deno? or maybe usage for python or c#?

[2022-11-22 06:53] #362 closed

[2022-11-22 08:21] mcollina commented on #377
There are no plans to support C#, Python or Java at the moment.
Support for Deno might be possible given they support most of npm anyway. However, I don't see any real benefit of doing so right now.

[2022-11-22 08:21] #377 closed

[2022-11-22 09:21] marcopiraccini opened #378 "JWT namespace option is hiding the fastigy-jwt option with the same name"
Recently, we added the namespace support to correctly get the JWT custom claim (see [here](https://github.com/platformatic/platformatic/pull/336)).
Unfortunately, `namespace` [is also an option for fastify-jwt](https://github.com/fastify/fastify-jwt#namespace)
This is the reason why we needed to `delete` the namespace option:
https://github.com/platformatic/platformatic/blob/main/packages/db-autho

[2022-11-22 11:11] #370 closed

[2022-11-22 11:49] mcollina commented on #369
Sure it is: https://oss.platformatic.dev/docs/reference/db/configuration.

[2022-11-22 11:49] #369 closed

[2022-11-22 11:55] #367 closed

[2022-11-22 12:03] mcollina commented on #347
In https://github.com/platformatic/platformatic/blob/5a2012e2952d9d5a0a19267131b7fcbcbcac50d2/packages/sql-json-schema-mapper/index.js#L56, we can add a custom property to our OpenAPI definition to tag a property as a primaryKey.

[2022-11-22 13:20] leorossi commented on #367
Happened to me on `compendium`.
Also removed lock file and `node_modules`, didn't fix it.

I had to bump another dep (`tap`, in my case) to trigger a full rebuild process and then it worked 🤷‍♂️

[2022-11-22 14:51] #371 closed

[2022-11-22 14:57] marcopiraccini opened #383 "Write a create-platformatic-db interactive cli tool"
Used with:

[code]

This command should:

- Create a project directory if it it doesn’t exist (see `create-remix` behaviour)
- Create default migrations (optional, default: true)
- Generate a plugin (optional, default: false)
    - Set `types.autogenerate` to `true` if we’re creating the plugin
    - Ask user if they want to use JavaScript or TypeScript
        - Create `tsconfig.json` if they cho

[2022-11-22 15:04] sabberworm commented on #292
Thanks for the implementation, @Abdullah0sama. However, with this change, I have two different problems:

1. If my enum contains a value with a dash (presumably other characters also affected), platformatic will throw `GraphQLError: Names must only contain [_a-zA-Z0-9] but "my-enum-value" does not.`
2. If I have two enum columns named the same in two distinct tables, platformatic will throw `Error

[2022-11-23 14:53] pccrazy commented on #308
is this mean that many to many relationship is not supported at the current stage??

[2022-11-23 15:02] mcollina commented on #308
I'm working on it as we speak in #299

[2022-11-23 21:54] #354 closed

[2022-11-24 11:14] #299 closed

[2022-11-24 11:14] #224 closed

[2022-11-24 11:14] #308 closed

[2022-11-24 16:25] #270 closed

[2022-11-24 17:27] hatemjaber opened #387 "Unsigned BIGINT Precision Loss"
Hi, I Just took the latest update which had changes to fix adding a primary key when inserting a new record. I noticed that the BIGIN I was passing in was being rounded or losing its precision once it made it to platformatic. From my past experience with BIGINTs and Sequelize ORM, they treated them like strings when sending back and forth. Under the hood I'm not sure what they did, I always assume

[2022-11-24 17:33] mcollina opened #388 "Investigate Deprecation Warning"
[code]

[2022-11-24 18:53] Abdullah0sama commented on #292
For No.1 yeah I think it is a good solution. It would cause ambiguity if `my-enum` and `my_enum` exist as they would have the same name but I doubt someone would use two different styles at the same time.
I will be looking into fixing them soon. Thanks for the feedback @sabberworm.

[2022-11-24 19:44] mcollina commented on #387
What database are you using?

I have a feeling we would need to expose the `bigIntMode` option in https://www.atdatabases.org/docs/pg-options.

[2022-11-24 19:52] hatemjaber commented on #387
I'm not sure about postgres, I'm using MariaDB. I imagine it's the same for MySQL. I used a database that I was using with Sequelize and the BIGINT is fine there. I've seen this with Javascript because the max size is to the 53 power or something like that. In order to get it to work properly you have to treat it as a string when passing it around and cast it at the database level.

[2022-11-24 21:34] CVarisco opened #390 "title in the extend REST API documentation example is not defined."
Hi!

I'm trying Platformatic DB and I'm following the documentation to extend the rest API.
I just found that the `title` wasn't getting from the query.

I'm creating a PR to fix the documentation page.

[2022-11-25 06:30] #390 closed

[2022-11-25 09:47] #222 closed

[2022-11-25 10:48] rozzilla opened #393 "Type Subscription must define one or more fields"
Hey 👋🏼
Support for multiple schemas works well! 🚀

The issue I encountered was only this one:
[code]

I was able to skip it since I'm not interested yet in subscriptions, disabling them with the config `core.events` set to `false`.

Anyway, I think in this case `plaformatic` doesn't catch the error, that popped up in the `graphql` library and so it's quite hard to understand. Debugging it locally

[2022-11-25 10:56] mcollina commented on #393
I've never seen that error. Could you add some way to reproduce it?

[2022-11-25 11:22] rozzilla commented on #393
I'm trying to reproduce it, it's not so easy because I'm connected to an already existing DB.
I also found a bug in the meanwhile, regarding how we connect to the `versions` table in case of `schema` is available.
I'll open a bugfix soon...

[2022-11-25 11:37] rozzilla commented on #393
Bugfix resolution available [here](https://github.com/platformatic/platformatic/pull/394).

[2022-11-25 11:39] rozzilla commented on #393
Regarding the error mentioned before, I encountered it connecting to an already existing DB with a table created in [this way](https://github.com/rozzilla/poc-platformatic/blob/master/migrations/001.do.sql).

The setup used is available [here](https://github.com/rozzilla/poc-platformatic).

[2022-11-25 11:41] rozzilla commented on #393
Going by intuition I think the issue is related to a type used on the table, that maybe is not currently be supported on the GraphQL subscription logic. But as I said debugging it was hard (since multiple packages are called), so I don't exactly what cause it.

[2022-11-25 11:41] mcollina commented on #393
Ah I know what the problem is, a fix is incoming.

[2022-11-25 12:00] mcollina commented on #393
Fix is there: https://github.com/platformatic/platformatic/pull/395

[2022-11-25 12:25] sabberworm commented on #300
@mcollina

Mariadb doesn’t have a JSON column type for storage. But it does support support JSON as type when declaring columns, which is an alias [for LONGTEXT](https://mariadb.com/kb/en/json-data-type/).

Unfortunately, this information is lost when retrieving the column type. However, mariadb will add a constraint of type `json_valid` to such columns. Maybe that constraint could be checked to t

[2022-11-25 13:17] hatemjaber opened #396 "Postgres Multiple Schemas (Error: Conflicting table names)"
I figured I would try to run Platformatic DB on an existing Postgres database (legacy rails app) that has separate schemas per client.

I created the connection string as per the documentation and added the schema property with four of the schemas which gave me: "Error: Conflicting table names..." message.

When I ran it against a single schema, it worked but I got an error for something else: "Ca

[2022-11-25 13:32] marcopiraccini commented on #396
Currently, having tables with the same name in different schemas is not supported (see: https://oss.platformatic.dev/docs/reference/db/schema-support).
The reason is that the `sql-mapper` maps the tables to entities, and to avoid entity name conflicts, we should have some namespace mechanism for entities

[2022-11-25 13:35] hatemjaber commented on #396
I'm not sure if this is possible or not, just an idea... Could the generated api use paths that have the schema prefixed before the entity?

```localhost:3042/api/schema-name/entity-name```

I'm not familiar with the code base and not sure how ```sql-mapper``` works, that's why I'm asking.

[2022-11-25 14:02] ivan-tymoshenko opened #398 "Update migrations commands"
Update migrations commands according to Simon's recomendations.

[2022-11-25 14:04] rozzilla commented on #396
I encountered the same issue 😊
If in some way the schema can be used as a unique `key` prefix, it'd be great.
Otherwise, if you connect to a pre-existing DB with this kind of situation, it will be hard to work with it...

[2022-11-25 14:41] hatemjaber commented on #396
Are there any plans for this type of support? What's the degree of difficulty on a feature like this?

I believe PG is the only that officially supports multiple schemas in this way but it could be supported with other db's as well. The only difference is that it would have to name the tables with ```schema__table_name``` or some type of convention that would not cause conflicts in the future. Thi

[2022-11-25 15:49] mcollina commented on #300
Would you like to send a PR for that support? It would be nice to have JSON in MariaDB!

[2022-11-26 16:29] hatemjaber opened #400 "Authentication Documentation"
It wasn't clear to me exactly how to handle authentication. Is there something baked in that uses the JWT settings from the config and generates auth functionality, or is that something that we have to customize via a custom plugin and create the ```/login``` route?

[2022-11-26 21:22] marccremer opened #401 "Can not update via Graphql for unique constraint"
If you have a table with a unique constraint like so
[code]
You can insert fine, but trying to update give us a sql constraint error for uniqueness.

The _save[Entity]_ graphql behave in that case different from  the
_PUT /[ENTITY]/:id_ REST endpoint.

The problem most likely stems from the fact that the save endpoint is doing double duty.
From the docs

[2022-11-26 22:17] mcollina commented on #401
Thanks for reporting! Could you also add the GraphQL query and HTTP call you are doing, so we can easily reproduce? Also, what DB are you using?

It's not a problem of double duty because internally the logic that generates the SQL statements is the same.

[2022-11-27 01:02] marccremer commented on #401
I use sqlite

Graphql
[code]
 REST

[code]
 The error
[code]

[2022-11-27 13:49] #206 closed

[2022-11-28 09:02] rupakhetibinit commented on #400
Same here. I didn't exactly get how to handle the authentication. Granted it's still pretty new but I expected better documentation about authentication because it is one of the pain points of building an app. I really wanted to try this out

[2022-11-28 09:07] mcollina opened #406 "Allow the .env file to be loaded from a specified path"
As titled

[2022-11-28 09:08] #406 closed

[2022-11-28 09:33] marcopiraccini commented on #396
I am going to solve this adding the schema to the entity names (and removing the conflicting table names check).
That means that if we will have: `myschema.pages` this will be mapped in `sql-mapper` as `myschemaPage` entity.
What do you think @rozzilla @hatemjaber ?

[2022-11-28 10:23] #393 closed

[2022-11-28 14:07] #396 closed

[2022-11-28 18:34] simonplend commented on #317
@marcopiraccini Before I pick this up, as you wrote these docs originally, I have a couple of questions:

- Was 'Roles And User Information' a section that you didn't get chance to write or did you write it and it got lost in the Git ether?
- At a high level, what should the 'Roles And User Information' section cover?

[2022-11-29 10:07] mcollina opened #413 "Improve error message for `SQLITE_CANTOPEN`"
Currently if we cannot write in the directory specified in the SQLite connection string we throw this error:

[code]

It would be better to provide a more usable error.

[2022-11-30 18:07] mcollina opened #417 "Write a guide on how to run your Fastify application on Platformatic"

[2022-11-30 21:08] ricfio commented on #229
I think this issue has been solved, so could be closed.

[2022-11-30 22:24] #229 closed

[2022-11-30 22:24] mcollina commented on #229
thx!